/**
 * https://hugogiraudel.com/2013/03/18/ultimate-rem-mixin/
 */

@function parseInt($n) {
    /* 2 */
    @return $n / ($n * 0 + 1);
}

@function rem($value) {
    // $value: parseInt($value);
    // $rem: ($value / 10 + rem);
    $rem: ($value / 16px) * 1rem;

    @return $rem;
}

@mixin rem($property, $values) {
    $px: (); /* 3 */
    $rem: (); /* 3 */

    @each $value in $values {
        /* 4 */

        @if $value == 0 or $value == auto {
            /* 5 */
            $px: append($px, $value);
            $rem: append($rem, $value);
        } @else {
            $unit: unit($value); /* 6 */
            // $val: parseInt($value); /* 6 */

            @if $unit == 'px' {
                /* 7 */
                $px: append($px, $value);
                $rem: append($rem, ($value / 16px) * 1rem);
            }

            @if $unit == 'rem' {
                /* 7 */
                $px: append($px, ($val * 16 + px));
                $rem: append($rem, $value);
            }
        }
    }

    @if $px == $rem {
        /* 8 */
        // #{$property}: $px;  /* 9 */
    } @else {
        // #{$property}: $px;  /* 9 */
        #{$property}: $rem; /* 9 */
    }
}
