@mixin theme($theme) {
    background-color: theme-color($theme, background);
    color: theme-color($theme, text);

    a:not([class]) {
        color: theme-color($theme, links);
    }
    a:not([class]):hover,
    a:not([class]):focus {
        color: hover-color(theme-color($theme, links));
    }

    .u-heading {
        color: theme-color($theme, headings);
    }
}
