{% include 'page-header', title:'Your <span>cart</span>' %}

<section class="o-section o-wrapper">
    {%- if cart.item_count > 0 -%}
        <form action="/cart" method="post" novalidate>
            <div class="u-flex u-mb u-show@mobile">
                <div class="u-7/12">
                    <strong class="u-label u-color-primary"><span>{{ 'cart.label.product' | t }}</span></strong>
                </div>
                <div class="u-3/12 u-text-align-center">
                    <strong class="u-label u-color-primary"><span>{{ 'cart.label.quantity' | t }}</span></strong>
                </div>
                <div class="u-2/12 u-text-align-center">
                    <strong class="u-label u-color-primary"><span>{{ 'cart.label.price' | t }}</span></strong>
                </div>
            </div>

            {%- for item in cart.items -%}
                <div class="o-layout u-flex@mobile u-align-items-center u-mb">
                    <div class="o-layout__item u-7/12@mobile u-flex@mobile u-align-items-center u-text-align-center u-text-align-left@mobile u-mb">
                        {%- if item.image != blank -%}
                            <a href="{{ item.url | within: collections.all }}" class="u-pr">
                                {{ item | img_url: '200x200' | img_tag: item.title }}
                            </a>
                        {%- endif -%}
                        
                        <div>
                            <a href="{{ item.url | within: collections.all }}" class="u-pr u-display-block">
                                <h3 class="u-heading">{{ item.product.title }}</h3>
                            </a>

                            {%- unless item.product.has_only_default_variant -%}
                                <span class="u-heading u-heading--caps u-h5">{{ item.variant.title }}</span>
                            {%- endunless -%}

                            {%- if item.quantity > 1 -%}
                                &nbsp;<span class="u-color-secondary">
                                    x{{ item.quantity }} at&nbsp;
                                    {%- if item.original_line_price != item.line_price -%}
                                        {{ item.original_price | money }}
                                    {%- else -%}
                                        {{ item.price | money }}
                                    {%- endif -%}
                                </span>
                            {%- endif -%}
                        </div>
                    </div>
                    <div class="o-layout__item u-6/12 u-3/12@mobile u-text-align-center">
                        <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0" aria-label="{{ 'cart.general.item_quantity' | t }}" class="c-form__input u-text-align-center" style="display: inline-block; padding-left: 22px; padding-right: 12px; width: 70px;"><br>
                        <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="u-font-size-14 u-color-grey u-letter-spacing-05" onclick="return confirm('Are you sure you want to delete this item?')">
                            <small>{{ 'cart.general.remove' | t }}</small>
                        </a>
                    </div>
                    <div class="o-layout__item u-6/12 u-2/12@mobile u-text-align-center">
                        {%- if item.original_line_price != item.line_price -%}
                            <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
                            {%- if item.quantity > 1 -%}
                                {{ item.price | times: item.quantity | money }}
                            {%- else -%}
                                {{ item.price | money }}
                            {%- endif -%}
                           
                            <span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
                            {%- if item.quantity > 1 -%}
                                <s>{{ item.original_price | times: item.quantity | money }}</s>
                            {%- else -%}
                                <s>{{ item.original_price | money }}</s>
                            {%- endif -%}
                        {%- else -%}
                            <strong class="u-h5 u-color-secondary">
                                {%- if item.quantity > 1 -%}
                                    {{ item.price | times: item.quantity | money }}
                                {%- else -%}
                                    {{ item.price | money }}
                                {%- endif -%}
                            </strong>
                        {%- endif -%}
                    </div>
                </div>
            {%- endfor -%}

            <hr class="u-hr">
            <div class="u-mb"></div>

            {%- if settings.cart_notes_enable -%}
                <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
                <textarea name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
            {%- endif -%}

            <div class="o-layout o-layout--large u-stack-layout@mobile">
                <div class="o-layout__item u-4/12@mobile">
                    <h3 class="u-h4">
                        <span class="u-heading u-heading--caps">{{ 'cart.general.subtotal' | t }}</span>&nbsp;
                        {{ cart.total_price | money }}
                    </h3>
                    <small>{{ 'cart.general.shipping_at_checkout' | t }}</small>

                    {%- if cart.total_discounts > 0 -%}
                        <p>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
                    {%- endif -%}
                </div><div class="o-layout__item u-8/12@mobile u-text-align-right@mobile">
                    <div class="c-button-list c-button-list--block@mobile" style="justify-content: flex-end;">
                        <a href="/products" class="c-button c-button--secondary c-button--ghost">
                            {{ 'cart.general.continue_browsing_html' | t }}
                        </a>
                        <button type="submit" name="update" class="c-button c-button--secondary">
                            {{ 'cart.general.update' | t }}
                        </button>
                        <button type="submit" name="checkout" class="c-button c-button--primary">
                            {{ 'cart.general.checkout' | t }}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    {%- else -%}
        <div class="u-text-align-center@mobile">
            <p>{{ 'cart.general.empty' | t }}</p>
            <a href="/products" class="c-button c-button--secondary c-button--wide">
                {{ 'cart.general.continue_browsing_html' | t }}
            </a>
        </div>
    {%- endif -%}
</section>
