{% section 'hero-banner' %}

{% section 'home-featured-page-ctas' %}

{% section 'home-our-story-teaser' %}

{% section 'home-video' %}

{% section 'home-journal-teaser' %}

{{ 'carousel.css' | asset_url | stylesheet_tag }}
<script src="{{ 'carousel.js' | asset_url }}" async defer></script>
