{% section 'restaurant-2-hero-banner' %}

{% section 'restaurant-2-hero-images' %}

{% section 'restaurant-2-address-and-opening-times' %}

{% section 'restaurant-2-menus' %}

{% section 'restaurant-2-featured-page-ctas' %}

{% section 'restaurant-2-featured-content' %}
