{{ 'carousel.css' | asset_url | stylesheet_tag }}

{% section 'restaurant-1-room-2-header' %}

{% section 'restaurant-1-room-2-carousel' %}

{% section 'restaurant-1-room-2-intro' %}

<hr class="u-hr">

{% section 'restaurant-1-room-2-menus' %}

{% section 'restaurant-1-room-2-video' %}

{% section 'restaurant-1-room-2-reservations' %}

<script src="{{ 'carousel.js' | asset_url }}" async defer></script>
