{% include 'page-header', title:'Terms and <span>conditions</span>' %}

<section class="o-section o-wrapper o-wrapper--medium">
    <div class="s-wysiwyg s-content-links">
        {{ shop.terms_of_service | newline_to_br }}
    </div>
</section>
