{{ 'carousel.css' | asset_url | stylesheet_tag }}

{% section 'restaurant-1-header' %}

{% section 'restaurant-1-carousel' %}

{% section 'restaurant-1-intro' %}

<hr class="u-hr">

{% section 'restaurant-1-menus' %}

<div class="u-mt- u-mt0@mobile"></div>

{% section 'restaurant-1-catering' %}

{% section 'restaurant-1-opening-times' %}

{% section 'restaurant-1-featured-page-ctas' %}

<hr class="u-hr">

{% section 'restaurant-1-team' %}

<script src="{{ 'carousel.js' | asset_url }}" async defer></script>
