{% include 'page-header', title:'Get in <span>touch</span>' %}

<section class="o-section o-wrapper">
    <div class="u-max-w-650px u-mh-auto">
        <div class="s-contact-restaurant-header">
            {% section 'restaurant-1-header' %}
        </div>

        <div class="u-mv u-mv+@mobile">
            <hr class="u-hr">
        </div>

        <p class="s-wysiwyg">{{ page.content }}</p>

        <div class="u-mt u-mt+@mobile">
            {% include 'contact-form', post_url:'', enquiry_types:'' -%}
        </div>
    </div>
</section>
