{{ 'carousel.css' | asset_url | stylesheet_tag }}

<header class="c-page-header t-tertiary c-animated-content u-in-viewport">
    <div class="o-wrapper">
        <h1 class="u-heading u-heading--caps" data-order="2">The <span>farm</span></h1>
    </div>

    {% section 'the-farm-intro' %}
</header>

{% section 'the-farm-copy-1' %}

{% section 'the-farm-carousel' %}

{% section 'the-farm-copy-2' %}

{% section 'the-farm-video' %}

<hr class="u-hr">

{% section 'the-farm-featured-page-ctas' %}

<script src="{{ 'carousel.js' | asset_url }}" async defer></script>
