{% include 'page-header', title:'Our <span>story</span>' %}

{% section 'our-story-intro' %}

{% section 'our-story-video' %}

<div class="t-tertiary">
    {% section 'our-story-team' %}
    
    <hr class="u-hr">
    <div class="t-tertiary u-pv u-text-align-center">
        <div class="o-wrapper c-animated-content js-monitor">
            <span class="u-label u-color-juniper" data-order="1">{{ settings.careers_title }}</span>
            {%- if settings.careers_text contains '@' -%}
                <a href="mailto:{{ settings.careers_text }}" class="u-display-block u-heading u-h4 u-mt-- u-color-laser" data-order="2">{{ settings.careers_text }}</a>
            {%- else -%}
                <span class="u-display-block u-heading u-h4 u-mt-- u-color-laser" data-order="2">{{ settings.careers_text }}</span>
            {%- endif -%}
        </div>
    </div>
</div>

{% section 'our-story-founder' %}

{% section 'our-story-featured-page-ctas' %}
