{% include 'page-header', title:'Privacy <span>policy</span>' %}

<section class="o-section o-wrapper o-wrapper--medium">
    <div class="s-wysiwyg s-content-links">
        {{ shop.privacy_policy | newline_to_br }}
    </div>
</section>
