{% assign page_title = '<span>' | append:page.title | append:'</span>' %}
{% include 'page-header', title:page_title %}

<section class="o-section o-wrapper o-wrapper--medium">
    {%- if page.content != blank -%}
        <div class="s-wysiwyg u-mb">
            {{ page.content }}
        </div>
    {%- endif -%}

    <script id="CookieDeclaration" src="https://consent.cookiebot.com/{{ settings.cookiebot_id }}/cd.js" type="text/javascript" async></script>
</section>
