{% include 'page-header', title:'Refund <span>policy</span>' %}

<section class="o-section o-wrapper o-wrapper--medium">
    <div class="s-wysiwyg s-content-links">
        {{ shop.refund_policy | newline_to_br }}
    </div>
</section>
