{{ 'carousel.css' | asset_url | stylesheet_tag }}

{% section 'restaurant-1-room-1-header' %}

{% section 'restaurant-1-room-1-carousel' %}

{% section 'restaurant-1-room-1-intro' %}

<hr class="u-hr">

{% section 'restaurant-1-room-1-menus' %}

{% section 'restaurant-1-room-1-video' %}

{% section 'restaurant-1-room-1-reservations' %}

<script src="{{ 'carousel.js' | asset_url }}" async defer></script>
