{% assign page_title = '<span>' | append:page.title | append:'</span>' %}
{% include 'page-header', title:page_title %}

<section class="o-section o-wrapper o-wrapper--medium">
    {%- if page.content != blank -%}
        <div class="s-wysiwyg s-content-links">
            {{ page.content }}
        </div>
    {%- endif -%}
</section>
