{% section 'product' %}

<div class="c-modal js-modal u-hide" data-modal="product-information">
    <div class="c-modal__wrapper u-p u-p+@mobile t-light js-modal-wrapper js-tabs-container">
        <div class="c-tabs">
            <ul class="c-tabs__list u-mb u-mb+@mobile" role="tablist">
                {%- for link in linklists.product-information.links -%}
                    <li class="c-tabs__list-item" role="presentation">
                        <button class="c-tabs__button js-tab" id="tab-{{ link.title | handle }}-information" role="tab" aria-controls="{{ link.title | handle }}-information" aria-selected="{% if forloop.index0 == 0 %}true{% else %}false{% endif %}" tabindex="{% if forloop.index0 == 0 %}0{% else %}-1{% endif %}">{{ link.title }}</button>
                    </li>   
                {%- endfor -%}
            </ul>

            {%- for link in linklists.product-information.links -%}
                {%- assign link_handle = link.title | handle -%}
                <section class="c-tabs__panel js-panel" role="tabpanel" id="{{ link_handle }}-information" aria-labelledby="tab-{{ link_handle }}-information" aria-hidden="{% if forloop.index0 == 0 %}false{% else %}true{% endif %}">
                    {%- if link_handle contains 'refund' or link_handle contains 'delivery' -%}
                        <div class="s-wysiwyg s-content-links">
                            {{ shop.refund_policy | newline_to_br }}
                        </div>
                    {%- elsif link_handle contains 'faqs' -%}
                        {% section 'faq' %}
                    {%- else -%}
                        {{ link.object.content }}
                    {%- endif -%}
                </section>
            {%- endfor -%}
        </div>

        {%- assign modal_name = 'product-information' -%}
        {% include 'modal-close-button' %}
    </div>
</div>

{{ 'carousel.css' | asset_url | stylesheet_tag }}
<script src="{{ 'carousel.js' | asset_url }}" async defer></script>
