<button type="submit" name="add" class="c-button c-button--primary c-button--block u-1/1 {{ button_classes }} js-add" data-product-id="{{ product.id }}" data-variant-id="{{ product.selected_or_first_available_variant.id }}" data-handle="{{ product.handle }}" data-source="{{ button_source }}" data-price="{{ product.price }}" {%- if product.available != true or product.selected_or_first_available_variant.inventory_quantity == 0 -%}disabled="disabled"{%- endif -%}>
    {%- if product.available != true or product.selected_or_first_available_variant.inventory_quantity == 0 -%}
        {{ 'products.product.sold_out' | t }}
    {%- else -%}
        {%- if button_label != blank -%}
            {{ button_label }}
        {%- else -%}
            {{ 'products.product.add_to_cart' | t }}
        {%- endif -%}
    {%- endif -%}
</button>
