{%- assign card_base_classes = 'c-card u-depth' -%}
{%- if card_is_button == true -%}
    <a href="{{ card_url }}" class="{{ card_base_classes }} {{ card_classes }} js-track-event" {{ card_link_attributes }}>
{%- else -%}
    <div class="{{ card_base_classes }} {{ card_classes }}">
{%- endif -%}
            
        {%- if card_image != blank -%}
            <div class="c-card__image" style="background-image: url('{{ card_image | img_url: 'x300' }}');"></div>
        {%- elsif card_illustration != blank -%}
            <div class="c-card__image c-card__image--illustration">
                {%- assign illustration = 'illustration-' | append: card_illustration -%}
                {% include illustration %}
            </div>
        {%- endif -%}
    
        <div class="c-card__wrapper">
            {%- if card_title != blank -%}
                <div class="c-card__title u-h5">{{ card_title }}</div>
            {%- endif -%}
            {%- if card_subtitle != blank -%}
                <div class="c-card__label u-label u-color-grey">
                    {{ card_subtitle }}
                </div>
            {%- endif -%}
        </div>

        <div class="c-card__link-icon-container">
            <svg width="47" height="47" viewBox="0 0 47 47" xmlns="http://www.w3.org/2000/svg" class="c-card__link-icon"><g fill="none" fill-rule="evenodd"><circle stroke="#003B71" opacity=".15" cx="23.5" cy="23.5" r="23"/><path fill="#003B71" fill-rule="nonzero" d="M23 20.536l.561-.536L28 24l-4.439 4-.561-.536L26.843 24z"/></g></svg>
        </div>

{%- if card_is_button == true -%}
    </a>
{%- else -%}
    </div>
{%- endif -%}
