<style>
{%- for block in image_blocks -%}
    {%- if block.settings.image != blank -%}
        #carousel-{{ block.id}} { background-image: url('{{ block.settings.image | img_url: 'x550' }}'); }
        @media (min-width: 46.3125em) {
            #carousel-{{ block.id}} { background-image: url('{{ block.settings.image | img_url: 'x1000' }}'); }
        }
    {%- endif -%}    
{%- endfor -%}
</style>

<div class="c-carousel js-carousel" data-carousel-options="gallery">
    {%- for block in image_blocks -%}
        {%- if block.settings.image != blank -%}
            <div class="c-carousel__item">
                <div id="carousel-{{ block.id }}" class="c-carousel__image"></div>
            </div>
        {%- endif -%}
    {%- endfor -%}
</div>
