<div class="c-form c-form--default">
    {%- form 'contact' -%}
        {%- if form.posted_successfully? -%}
            <p class="form-success u-color-primary">
                <strong>{{ 'contact.form.post_success' | t }}</strong>
                <script>setTimeout(function(){window.scrollTo(0,0);},1500);</script>
            </p>
        {%- else -%}
            {%- if form.errors -%}
                <div class="s-form">
                    {{ form.errors | default_errors }}
                </div>
            {%- endif -%}

            <div class="c-form__row">
                <input type="text" name="name" placeholder="Your name" class="c-form__input u-align-right@mobile u-1/1" required aria-label="Your name">
                <label for="name" class="c-form__label c-form__label--float">Your name</label>
            </div>
            <div class="c-form__row">
                <input type="email" name="email" placeholder="Your email" class="c-form__input u-align-right@mobile u-1/1" required aria-label="Your email">
                <label for="email" class="c-form__label c-form__label--float">Your email</label>
            </div>
            <div class="c-form__row">
                <div class="custom-select">
                    <select name="enquiry" placeholder="Your enquiry" class="c-form__select u-align-right@mobile u-1/1" required aria-label="Your enquiry">
                        <option value="">Select an enquiry type</option>
                        <option value="Option 1">Option 1</option>
                        <option value="Option 2">Option 2</option>
                        <option value="Option 3">Option 3</option>
                    </select>
                </div>
                <label for="enquiry" class="c-form__label c-form__label--float">Your enquiry</label>
            </div>
            <div class="c-form__row">
                <textarea name="message" placeholder="Your message" class="c-form__input c-form__input--multiline u-align-right@mobile u-1/1" required aria-label="Your message"></textarea>
                <label for="message" class="c-form__label c-form__label--float js-modal-open" data-modal="contact-tcs">Your message</label>
            </div>
            <div class="o-layout o-layout--large u-stack-layout@mobile u-flex@mobile u-align-items-center">
                <div class="o-layout__item u-7/12@mobile u-relative">
                    <input type="checkbox" id="contact-form" class="c-form__checkbox u-mr--" name="{{ settings.mailchimp_newsletter_consent_field_name }}" required>
                    <label class="c-form__label c-form__label--checkbox" for="contact-form">I agree to the T&Cs</label>
                </div><div class="o-layout__item u-5/12@mobile u-text-align-right@mobile">
                    <button type="submit" class="c-form__button c-button c-button--secondary">
                        {{ cta_label | default:'Submit' }}
                    </button>
                </div>
            </div>
        {%- endif -%}
    {% endform %}
</div>

<div class="c-modal js-modal u-hide" data-modal="contact-tcs">
    <div class="c-modal__wrapper u-p u-p+@mobile t-light js-modal-wrapper js-tabs-container">
        {%- for link in linklists.terms-and-conditions.links -%}
            <span class="s-wysiwyg">{{ link.object.content }}</span>
        {%- endfor -%}

        {% include 'modal-close-button', modal_name:'contact-tcs' %}
    </div>
</div>
