{%- assign image_class = 'u-1/1' -%}
{%- assign image_dimension = 'x700|x1400' | split:'|' -%}
{%- assign is_text_first = false -%}
{%- assign is_half_columns = false -%}

{%- if is_half_columns == true -%}
    {%- assign column_classes = 'u-6/12@mobile|u-6/12@mobile' | split:'' -%}
{%- else -%}
    {%- assign column_classes = 'u-6/12@mobile u-5/12@tablet|u-6/12@mobile u-7/12@tablet' | split:'' -%}
{%- endif -%}

{%- if image_size == 'medium' -%}
    {%- assign image_class = 'u-max-h-600px' -%}
    {%- assign image_dimension = 'x600|x1200' | split:'|' -%}
{%- elsif image_size == 'small' -%}
    {%- assign image_class = 'u-max-h-450px' -%}
    {%- assign image_dimension = 'x450|x900' | split:'|' -%}
{%- endif -%}

<header class="u-hide@mobile u-text-align-center">
    <h2 class="u-heading u-heading--caps c-animated-item js-monitor {% if subtitle == blank %}u-mb{% endif %}">{{ title }}</h2>
    {%- if subtitle != blank -%}
        <div class="u-body--caps u-font-size-14 u-color-secondary u-mb">{{ subtitle }}</div>
    {%- endif -%}
</header>

<div class="o-layout o-layout--large u-flex@mobile u-align-items-center {% if is_text_first == true -%}o-layout--reverse@mobile{% endif %} c-animated-content js-monitor">
    {%- if image != blank -%}
        <div class="o-layout__item {{ column_classes[0] }} u-text-align-center">
            <img src="{{ image | img_url: image_dimension[0] }}" alt="" srcset="{{ image | img_url: image_dimension[1] }} 2x" class="u-mb u-mb0@mobile {{ image_class }}" data-order="1" data-animation="fade">
    </div>{%- endif -%}<div class="o-layout__item {{ column_classes[1] }}">
        <div class="u-max-w-500px">
            <div class="u-show@mobile" aria-hidden="true">
                <div class="u-heading u-heading--caps u-h2 u-mb u-show@mobile" aria-hidden="true" data-order="2">
                    {{ title }}
                </div>
                {%- if subtitle != blank -%}
                    <div class="u-body--caps u-color-secondary u-mb u--mt u-show@mobile" aria-hidden="true" data-order="2">{{ subtitle }}</div>
                {%- endif -%}
            </div>

            {%- if text != blank -%}
                <p data-order="3">{{ text | newline_to_br }}</p>
            {%- endif -%}

            {%- if cta_url != blank and cta_label != blank -%}
                <a href="{{ cta_url }}" class="c-button c-button--secondary c-button--ghost" data-order="4">
                    {%- if cta_icon == 'phone' -%}
                        {% include 'phone-icon' %}&nbsp;&nbsp;
                    {%- endif -%}
                    {{ cta_label }}
                </a>
            {%- endif -%}
        </div>
    </div>
</div>
