<footer class="c-site-footer">
    <div class="o-wrapper o-wrapper--large u-pv+ u-pv++@mobile">
        <nav id="menu" class="c-site-footer__nav">
            <div class="c-site-footer__column c-site-footer__column--logo">
                <img src="{{ 'footer-logo.png' | asset_img_url: '75x' }}" srcset="{{ 'footer-logo.png' | asset_img_url: '75x', scale:2 }} 2x" aria-hidden="true" />
            </div>
            <div class="c-site-footer__column-links">
                {%- for group in linklists.footer.links -%}
                    <div class="c-site-footer__column">
                        <h6 class="c-site-footer__header">{{ group.title }}</h6>
                        
                        {%- for link in group.links -%}
                            <a href="{{ link.url }}" class="c-site-footer__link js-track-event u-underline-hover-span" data-category="{{ link.title }} link" data-label="Site footer">
                                <span>{{ link.title }}</span>
                            </a>
                        {%- endfor -%}
                    </div>
                {%- endfor -%}
            </div>
            <div class="c-site-footer__column u-mb0 u-flex-grow-1">
                <a href="mailto:{{ settings.careers_text }}" class="c-site-footer__cta">
                    <span class="u-label">{{ settings.careers_title }}</span>
                    {{ settings.careers_text }}
                </a>
            </div>
        </nav>
    </div>
    <div class="u-bg-dark-010 u-text-align-center u-text-align-left@mobile">
        <div class="o-wrapper o-wrapper--large u-pv-- u-stack-layout@mobile">
            <div class="o-layout">
                <div class="o-layout__item u-6/12@mobile u-o-05">
                    <span class="u-font-size-12">{{ shop.name }} &copy; {{ 'now' | date: "%Y" }} | All Rights Reserved.</span>
                </div><div class="o-layout__item u-6/12@mobile u-text-align-right@mobile">
                    {%- for link in linklists.social.links -%}
                        <a href="{{ link.url }}" class="u-display-inline-block u-text-transform-uppercase u-font-size-12 u-color-juniper u-underline-hover-span js-track-event {% unless forloop.last %}u-mr{% endunless %}" data-category="{{ link.title }} social link" data-label="Site footer" target="noopener">
                            <span>{{ link.title }}</span>  
                        </a>
                    {%- endfor -%}
                </div>
            </div>
        </div>
    </div>
</footer>
