{%- assign SHOW_PROMO_BANNER = false -%}
{%- assign HIDE_LOGO = false -%}

{%- if settings.promo_banner_text != blank -%}
    {%- assign SHOW_PROMO_BANNER = true -%}
{%- endif -%}
{%- if template.name == 'index' -%}
    {%- assign HIDE_LOGO = true -%}
{%- endif -%}

<header class="c-site-header {% if HIDE_LOGO %} c-site-header--hide-logo{% endif %} js-site-header js-sticky">
    {%- if SHOW_PROMO_BANNER -%}
        {% include 'promo-banner' %}
    {%- endif -%}

    <div class="c-site-header__wrapper u-p">
        <a href="#menu" class="c-hamburger u-mr js-overlay-nav-toggle">
            <span class="c-hamburger__icon">Menu</span>
        </a>

        {%- for link in linklists.main-menu.links -%}
            {%- if link.title == 'Home' -%}
                <a href="{{ link.url }}" class="c-site-header__link c-site-header__link--logo u-ml0" aria-label="Home page">
                    {% assign classes = 'js-logo' %}
                    {% include 'logo' %}
                </a>
            {%- endif -%}
        {%- endfor -%}

        <a href="/cart" class="c-site-header__link c-site-header__link--cart u-hide@tablet js-modal-open" data-modal="cart-preview" aria-label="{{ 'cart.general.title' | t }}">
             <span class="c-site-header__badge js-cart-count">{{ cart.item_count }}</span>
             <svg width="22" height="27" viewBox="0 0 22 27" xmlns="http://www.w3.org/2000/svg"><g fill="#487B5A" fill-rule="nonzero" stroke="#487B5A" stroke-width=".5"><path d="M20.4504 26h-18.9c-.1096 0-.2144-.03957-.2896-.10953-.0752-.06996-.1152-.16395-.1104-.26076l.9-16.69485c.0104-.18868.1856-.33638.4-.33638h17.1c.2136 0 .3896.1477.4.33638l.9 16.69485c.0048.09681-.0344.1908-.1104.26076S20.5592 26 20.4504 26zm-18.4808-.70666h18.0608l-.8616-15.9882H2.8312l-.8616 15.9882z"/><path d="M15.324 8.96212c-.2208 0-.4-.1568-.4-.34998V5.1333c0-1.8927-1.76-3.43333-3.924-3.43333-2.164 0-3.924 1.54062-3.924 3.43333v3.47884c0 .19319-.1792.34998-.4.34998-.2208 0-.4-.1568-.4-.34998V5.1333C6.276 2.85421 8.3952 1 11 1s4.724 1.85421 4.724 4.1333v3.47884c0 .19319-.1784.34998-.4.34998z"/></g></svg>
        </a>

        <nav class="c-site-header__nav js-nav">
            {%- for link in linklists.main-menu.links -%}
                {%- assign is_active = link.active -%}
                {%- assign has_dropdown = false -%}
                {%- if link.links != blank and link.title == 'Restaurants' -%}
                    {%- assign has_dropdown = true -%}
                    {%- assign has_dropdown = false -%}
                {%- endif -%}
                {%- if link.handle contains 'restaurant' and template contains 'restaurant' -%}
                    {%- assign is_active = true -%}
                {%- endif -%}
                {%- if link.title == 'Shop' and template contains 'product' or template contains 'collection' -%}
                    {%- assign is_active = true -%}
                {%- endif -%}
                {%- unless link.title == 'Home' -%}
                    <a href="{{ link.url }}" class="c-site-header__link u-underline-hover {% if is_active %}is-active{% endif %} {% if has_dropdown == true %}c-site-header__link--sub-nav js-sub-nav-link{% endif %}">
                        {{ link.title }}
                    </a>
                {%- endunless -%}
                {%- if has_dropdown -%}
                    <div class="c-site-header__sub-nav js-restaurants-nav"></div>
                {%- endif -%}
            {%- endfor -%}
        </nav>

        <nav class="c-site-header__nav u-text-align-right">
            {%- if customer -%}
                <a href="/account" class="c-site-header__link u-show@tablet u-underline-hover">
                    {{ 'customer.account.title' | t }}
                </a>
            {%- else -%}
                <a href="/account/login" class="c-site-header__link u-show@tablet u-underline-hover">{{ 'customer.login.sign_in' | t }}</a>
            {%- endif -%}

            <a href="/cart" class="c-site-header__link c-site-header__link--cart js-modal-open" data-modal="cart-preview" aria-label="{{ 'cart.general.title' | t }}">
                 <span class="c-site-header__badge js-cart-count">{{ cart.item_count }}</span>
                 <svg width="22" height="27" viewBox="0 0 22 27" xmlns="http://www.w3.org/2000/svg"><g fill="#487B5A" fill-rule="nonzero" stroke="#487B5A" stroke-width=".5"><path d="M20.4504 26h-18.9c-.1096 0-.2144-.03957-.2896-.10953-.0752-.06996-.1152-.16395-.1104-.26076l.9-16.69485c.0104-.18868.1856-.33638.4-.33638h17.1c.2136 0 .3896.1477.4.33638l.9 16.69485c.0048.09681-.0344.1908-.1104.26076S20.5592 26 20.4504 26zm-18.4808-.70666h18.0608l-.8616-15.9882H2.8312l-.8616 15.9882z"/><path d="M15.324 8.96212c-.2208 0-.4-.1568-.4-.34998V5.1333c0-1.8927-1.76-3.43333-3.924-3.43333-2.164 0-3.924 1.54062-3.924 3.43333v3.47884c0 .19319-.1792.34998-.4.34998-.2208 0-.4-.1568-.4-.34998V5.1333C6.276 2.85421 8.3952 1 11 1s4.724 1.85421 4.724 4.1333v3.47884c0 .19319-.1784.34998-.4.34998z"/></g></svg>
            </a>
            
            {%- if settings.book_a_table_url != blank -%}
                <a href="{{ settings.book_a_table_url }}" class="c-button c-button--thin c-button--secondary u-ml u-show@tablet js-book-a-table">Book a table</a>
            {%- endif -%}
        </nav>
    </div>
</header>
