<section class="o-section t-secondary u-mh@mobile u-bg-cover u-min-h-800" style="background-image: url('{{ background_image | img_url: '1500x' }}');">
    <div class="o-wrapper">
        {%- if banner_title != blank -%}
            <h2 class="u-heading u-h1 u-mb u-mb+@mobile u-text-align-center u-display-block u-m-auto u-6/12@mobile">{{ banner_title }}</h2>
        {%- endif -%}

        <div class="o-layout u-mt++">
            <div class="o-layout__item u-7/12">
            </div><div class="o-layout__item u-5/12">
                <h3 class="u-heading u-h2 u-mb u-pr+@mobile u-pt+@mobile u-pt++@tablet">{{ title }}</h3>
    
                {%- if subtitle != blank -%}
                    <h3 class="u-heading u-h5 u-font-weight-300 u-case-upper u-o-7 u--mt">{{ subtitle }}</h3>
                {%- endif -%}

                {%- if content != blank -%}
                    <p>{{ content }}</p>
                {%- endif -%}

                {% if cta_url != blank %}
                    <a href="{{ cta_url }}" class="c-button c-button--primary c-button--round u-mt u-fade-intersected js-monitor">
                        {{ cta_label }}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
