<section class="c-hero-banner c-hero-banner--{{ banner_theme | default: 'dark' }}">
    <div id="banner-image-{{ banner_id | default: 1 }}" class="c-hero-banner__image"></div>
    <style>
    #banner-image-{{ banner_id | default: 1 }} {
        background-image: url('{{ banner_background_image | img_url: 'x720' }}');
    }

    @media only screen and (min-width: 46.0525em) {
        #banner-image-{{ banner_id | default: 1 }} {
            background-image: url('{{ banner_background_image | img_url: 'x1000' }}');
        }
    }

    {%- if banner_background_image_wide != blank -%}
        @media only screen and (min-width: 77.875rem) {
            #banner-image-{{ banner_id | default: 1 }} {
                background-image: url('{{ banner_background_image_wide | img_url: 'x1000' }}');
            }
        }
    {%- endif -%}
    </style>

    {%- if banner_show_copy -%}
        <div class="o-wrapper u-flex-grow">
            <div class="c-hero-banner__wrapper c-animated-content">
                {% if banner_title != blank %}
                    <h1 class="u-heading u-h1 u-mb" data-order="1">{{ banner_title }}</h1>
                {% endif %}

                {% if banner_text != blank %}
                    <p data-order="2">{{ banner_text }}</p>
                {% endif %}
            </div>
        </div>
    {%- endif -%}

    {%- if banner_background_video != blank -%}
        <video class="c-hero-banner__video js-bg-video" data-src="{{ banner_background_video }}" autoplay loop muted plays-inline>
            <source type="video/mp4">
        </video>
    {%- endif -%}
</section>
