<div class="c-animated-item js-monitor" data-animation="fade">
    <a href="{{ url }}" class="c-image-cta u-background-image" style="background-image: url('{{ background_image | img_url: '800x' | crop: 'center' }}');">
        <span class="c-image-cta__label">{{ title }}</span>
    </a>
</div>
