<a href="{{ url }}" class="u-image-hover">
    <div id="journal-card-{{ title | handle }}-bg" {% if image != blank %}style="background-image: url('{{ image | img_url: '500x600', crop:'center' }}');"{% endif %} class="{% if image == blank %}u-placeholder-image{% endif %} u-1/1 u-mb ui-card-image" data-order="1" data-animation="fade"></div>
    <h3 class="u-h4 u-heading u-mb-" data-order="2">{{ title }}</h3>
</a>

<style>
@media (-webkit-min-device-pixel-ratio: 1.25), ( min--moz-device-pixel-ratio: 1.25), ( -o-min-device-pixel-ratio: 1.25/1), ( min-device-pixel-ratio: 1.25), ( min-resolution: 200dpi), ( min-resolution: 1.25dppx) { #journal-card-{{ title | handle }}-bg { background-image: url('{{ image | img_url: '500x600', crop:'center', scale:2 }}') !important; }}
</style>

{%- if excerpt != blank -%}
    <div data-order="3">{{ excerpt }}</div>
{%- endif -%}

<a href="{{ url }}" class="c-text-cta u-font-size-12 u-mt-" data-order="4">{{ cta_label | default:'Read more' }}</a>
