<div class="t-white u-shadow u-p u-p+@mobile">
    <h1 class="u-heading u-h2 u-block u-text-align-center u-mb u-mb+@mobile">
        {{ 'customer.login.title' | t }}
    </h1>

    {% form 'customer_login' %}
        {%- if form.errors -%}
            <div class="s-form">
                <div class="u-m-auto u-8/12@mobile">
                    {% include 'illustration-stare-off' %}
                </div>

                {{ form.errors | default_errors }}
            </div>
        {%- endif -%}

        <div class="c-form__field">
            <input type="email" name="customer[email]" id="CustomerEmail" class="c-form__input u-1/1 {% if form.errors contains 'email' %}c-form__input--error{% endif %}" placeholder="{{ 'customer.login.email' | t }}" spellcheck="false" autocomplete="off" autocapitalize="off" autofocus>
        </div>

        {%- if form.password_needed -%}
            <div class="c-form__field">
                <input type="password" autocomplete="off" name="customer[password]" id="CustomerPassword" class="c-form__input u-1/1 {% if form.errors contains 'password' %}c-form__input--error{% endif %}" placeholder="{{ 'customer.login.password' | t }}">
            </div>
        {%- endif -%}

        <div class="c-button-list@mobile u-mt">
            <button type="submit" class="c-button c-button--primary">
                {{ 'customer.login.sign_in' | t }}
            </button>

            <a href="#recover" id="recover-toggle" class="c-button c-button--naked u-ph0 u-color-grey u-font-size-14 u-text-align-right@mobile js-visibility-toggle" id="recover-toggle" aria-controls="recover" aria-expanded="false" role="tab" data-hides=".js-login-container">{{ 'customer.login.forgot_password' | t }}</a>
        </div>
    {% endform %}
</div>
