<div class="c-menu c-animated-item js-monitor" data-animation="fade">
    {%- if image != blank -%}
        <div class="c-menu__image">
            <img src="{{ image | img_url: '450x450', crop:'center' }}" srcset="{{ image | img_url: '450x450', crop:'center', scale:2 }} 2x" alt="An image of a food item available from the {{ title | replace:' Menu', '' }}">
        </div>
    {%- endif -%}
    <div class="c-menu__content">
        <h3 class="u-heading u-heading--caps u-mb--">{{ title }}</h3>
        <p>{{ text }}</p>
        <p class="u-color-secondary">{{ availability }}</p>
    </div>
    <div class="c-menu__cta">
        {%- if pdf_url != blank -%}
            <a href="{{ pdf_url }}" class="c-button c-button--secondary" target="noopener">{{ cta_label | default: 'See menu' }}</a>
        {%- endif -%}
    </div>
</div>
