<button class="c-modal__close js-modal-{{ modal_class | default: 'close' }}" data-modal="{{ modal_name }}" aria-label="Close" title="Close">
    <svg class="c-button__icon" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M.46266 1.67948L1.6254.51674l6.46497 6.46498L14.60711.46498l1.15831 1.1583-6.51674 6.51674 6.51885 6.51886-1.16274 1.16273-6.51885-6.51885-6.46266 6.46266-1.1583-1.1583 6.46266-6.46267z" fill="#CFAA76" fill-rule="nonzero"/></svg>
</button>
