<div class="c-modal c-modal--open-table js-modal u-hide" data-modal="book-a-table">
    <div class="c-modal__wrapper u-p- t-light js-modal-wrapper">
        <div style="align-items: center; bottom: 0; display: flex; height: 100%; left: 0; justify-content: center; position: absolute; width: 100%; z-index: 1;">
            <div class="c-loading-spinner"></div>
        </div>

        <iframe src="" frameborder="0" style="width: 100%; height: 100%; min-height: 500px; max-height: 90vh; vertical-align: middle; position: relative; z-index: 2;" class="js-book-a-table-iframe"></iframe>

        {% include 'modal-close-button', modal_class:'book-a-table-close' %}
    </div>
</div>
