<div class="c-overlay-nav js-overlay-nav" style="display: none;">
    <div class="c-overlay-nav__inner js-overlay-nav-inner">
        <nav class="c-overlay-nav__nav c-overlay-nav__nav--main u-pt+ u-pb">
            {%- for link in linklists.main-menu.links -%}
                {%- assign title = link.title | split: ' | ' -%}
                {%- assign is_active = link.active -%}
                {%- if link.title == 'Shop' and template contains 'product' or template contains 'collection' -%}
                    {%- assign is_active = true -%}
                {%- endif -%}
                <a href="{{ link.url }}" class="c-overlay-nav__link js-overlay-nav-link {% if is_active %}c-overlay-nav__link--active{% endif %}">
                    <span>{{ title[0] }}</span>
                </a>
                {%- if title[1] != blank -%}
                    <div class="u-label u-text-align-center u-p-- u-color-grey js-overlay-nav-label">
                        {{ title[1] }}
                    </div>
                {%- endif -%}
            {%- endfor -%}
        </nav>
        <div class="c-overlay-nav__footer u-mt">
            {%- if customer -%}
                <a href="/account" class="c-overlay-nav__link js-overlay-nav-link">
                    <span>{{ 'customer.account.title' | t }}</span>
                </a>
            {%- else -%}
                <a href="/account/login" class="c-overlay-nav__link js-overlay-nav-link">
                    <span>{{ 'customer.login.sign_in' | t }}</span>
                </a>
            {%- endif -%}
            {%- for link in linklists.policies.links -%}
                <a href="{{ link.url }}" class="c-overlay-nav__link js-overlay-nav-link">
                    <span>{{ link.title }}</span>
                </a>
            {%- endfor -%}
        </div>
    </div>
</div>
