<header class="c-page-header t-tertiary">
    <div class="o-wrapper c-animated-content u-in-viewport">
        <h1 class="u-heading u-heading--caps" data-order="1">{{ title }}</h1>

        {%- if intro != blank -%}
            <p data-order="2">{{ intro }}</p>
        {%- endif -%}
    </div>
</header>
