<div class="c-page-intro c-animated-content u-in-viewport">
    <div class="c-page-intro__content u-flex@mobile u-align-items-center o-layout o-layout--large u-stack-layout@mobile">
        <div class="o-layout__item u-6/12@mobile u-5/12@tablet u-text-align-center">
            {%- if image != blank -%}
                <img src="{{ image | img_url: 'x400' }}" alt="" srcset="{{ image | img_url: 'x800' }} 2x" class="c-page-intro__image" data-order="2">
            {%- endif -%}
        </div><div class="o-layout__item u-1/12@mobile u-show@mobile">
        </div><div class="o-layout__item u-5/12@mobile u-6/12@tablet">
           <h2 class="u-heading u-heading--caps u-h3 u-mb" data-order="1">{{ title }}</h2>

           <p class="c-page-intro__content" data-order="3" data-animation="fade">{{ text | newline_to_br }}</p>


           {%- if template == 'the-farm' -%}
                <div class="u-flex u-align-items-center u-text-transform-uppercase u-font-size-14" data-order="4">
                    Certified by: <img src="{{ 'demeter-logo.png' | asset_img_url:'x60' }}" srcset="{{ 'demeter-logo.png' | asset_img_url:'x60', scale:2 }} 2x" alt="" class="u-ml-">
                </div>
           {%- endif -%}
        </div>
    </div>
</div>
    
