<p class="u-mb">{{ 'customer.recover_password.subtext' | t }}</p>

{% form 'recover_customer_password' %}
    {%- if form.errors -%}
        <div class="s-form">
            {{ form.errors | default_errors }}
        </div>
    {%- endif -%}

    <div class="c-form__row">
        <input type="email" name="email" id="RecoverEmail" class="c-form__input u-1/1 {% if form.errors contains 'email' %}c-form__input--error{% endif %}" placeholder="{{ 'customer.recover_password.email' | t }}" spellcheck="false" autocomplete="off" autocapitalize="off">
        <label for="email" class="c-form__label c-form__label--float">Email</label>
    </div>

    {%- if form.password_needed -%}
        <div class="c-form__row">
            <div class="c-form__inline-link">
                <input type="password" name="customer[password]" id="CustomerPassword" class="c-form__input u-1/1 u-mt- {% if form.errors contains 'password' %}c-form__input--error{% endif %}" placeholder="{{ 'customer.login.password' | t }}">
                
                <a href="#recover" id="RecoverPassword" class="c-form__link">{{ 'customer.login.forgot_password' | t }}</a>
            </div>
        </div>
    {%- endif -%}

    <div class="u-text-align-center u-mt">
        <button type="submit" class="c-button c-button--primary u-1/1">
            {{ 'customer.recover_password.submit' | t }}
        </button>

        <a href="/account/login" class="c-button c-button--naked c-button--primary">Cancel</a>
    </div>
{% endform %}
