<svg width="13" height="13" style="fill: currentColor;" xmlns="http://www.w3.org/2000/svg"><path d="M2.6 5.63333C3.61111 7.65556 5.34444 9.31667 7.36667 10.4l1.58889-1.58889c.21663-.21664.50555-.28886.72222-.14444.79444.28889 1.66108.43333 2.6.43333.43333 0 .72222.28889.72222.72222v2.45556c0 .43333-.28889.72222-.72222.72222C5.48888 13 0 7.51111 0 .72222 0 .2889.28889 0 .72222 0H3.25c.43333 0 .72222.28889.72222.72222 0 .86667.14445 1.73334.43334 2.6.07222.21667 0 .50556-.14445.72222L2.6 5.63334z" fill-rule="evenodd"/></svg>
