<svg class="{{ classes }}" width="15" height="15" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15"><path d="M.716 8.538V6.536h5.928V.582h2.002v5.954h5.98v2.002h-5.98v5.928H6.644V8.538z" fill="#CFAA76" fill-rule="nonzero"/></svg>
