<span class="js-price" data-default-currency="{{ shop.currency }}" data-default-price="{{ price }}" data-default-price-with-currency="{{ price | money_without_trailing_zeros }}">{{ price | money_without_trailing_zeros }}</span>
