<div class="c-modal js-modal u-hide" data-modal="product-preview">
    <div class="c-modal__wrapper u-p u-p+@mobile t-white js-modal-wrapper">
        <div id="product-preview-container"></div>

        {% include 'modal-close-button', modal_name:'product-preview' %}
    </div>
</div>
