{%- assign current_variant = product_data.selected_or_first_available_variant -%}

<div class="o-layout u-flex u-display-block@mobile u-align-items-center c-animated-content js-monitor">
    <div class="o-layout__item u-5/12 u-1/1@mobile">
        <a href="{{ product_data.url }}" class="u-display-block u-image-hover-img">
            <div id="product-card-{{ product_data.id }}-bg" style="background-image: url('{{ product_data.featured_image | img_url: '500x600', crop:'center' }}');" class="u-1/1 u-mb ui-card-image ui-card-image--tall" data-order="1" data-animation="fade"></div>
        </a>
    </div><div class="o-layout__item u-5/12 u-1/1@mobile">
        <a href="{{ product_data.url }}" class="u-display-block u-mt@mobile">
            <h3 class="u-heading u-h4 u-mb0" data-order="2">{{ product_data.title }}</h3>
            
            <div class="u-color-secondary u-h6" data-order="3">
                {%- if product_data.type != blank -%}
                    {{ product_data.type }} &mdash;&nbsp;
                {%- endif -%}
                {%- if product_data.available -%}
                    <span class="u-color-secondary" data-order="3">
                        {% include 'product-price', price:product.price %}
                    </span>
                {%- else -%}
                    <span class="u-color-grey" data-order="3">Sold out</span>
                {%- endif -%}
            </div>
        </a>
    </div>
</div>


<style>
@media (-webkit-min-device-pixel-ratio: 1.25), ( min--moz-device-pixel-ratio: 1.25), ( -o-min-device-pixel-ratio: 1.25/1), ( min-device-pixel-ratio: 1.25), ( min-resolution: 200dpi), ( min-resolution: 1.25dppx) { #product-card-{{ product_data.id }}-bg { background-image: url('{{ product_data.featured_image | img_url: '500x600', crop:'center', scale:2 }}') !important; }}
</style>
