<span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <span itemprop="priceCurrency" content="GBP">£</span><span itemprop="price" content="{{ price | divided_by: 100.00 }}">{{ price | money_without_trailing_zeros | replace: '£', '' }}</span>
    <link itemprop="availability" href="http://schema.org/InStock">
</span>
