<div class="o-wrapper c-animated-content u-in-viewport">
    {%- if image != blank -%}
        <img src="{{ image | img_url: 'x90' }}" srcset="{{ image | img_url: 'x90', scale:2 }} 2x" alt="" class="c-page-header__image" data-order="1" data-animation="fade">
    {%- endif -%}

    <h1 class="u-heading u-heading--caps u-heading--caps-breakk u-mb u-mb0@mobile" data-order="2">
        {{ title }}
    </h1>

    {%- if text != blank -%}
        <p>{{ text }}</p>
    {%- endif -%}

    {%- if address != blank or email != blank or phone_number != blank or instagram_handle != blank -%}
        <div class="c-text-dividers u-justify-content-center" data-order="3">
            {%- if address != blank -%}
                <a href="https://www.google.com/maps/dir//Farmacy,+{{ address | replace:"\n",',' | replace:' ','+' }}" class="c-text-dividers__text u-color-como u-underline-hover-span" target="noopener">
                    <span>{{ address }}</span>
                </a>
            {%- endif -%}
            {%- if email != blank -%}
                <a href="mailto:{{ email }}" class="c-text-dividers__text u-color-como u-underline-hover-span">
                    <span>{{ email }}</span>
                </a>
            {%- endif -%}
            {%- if phone_number != blank -%}
                <a href="tel:{{ phone_number }}" class="c-text-dividers__text c-text-dividers__text--small u-color-como u-underline-hover-span">
                    <span>{% include 'phone-icon' %}&nbsp; {{ phone_number }}</span>
                </a>
            {%- endif -%}
            {%- if instagram_handle != blank -%}
                <a href="https://www.instagram.com/{{ instagram_handle }}" class="c-text-dividers__text c-text-dividers__text--small u-color-como u-underline-hover-span" target="noopener">
                    <span>{% include 'instagram-icon' %}&nbsp; {{ instagram_handle }}</span>
                </a>
            {%- endif -%}
        </div>
    {%- endif -%}

    {%- if book_a_table_url != blank -%}
        <a href="{{ book_a_table_url }}" class="c-button c-button--secondary u-mv js-book-a-table" target="noopener" data-order="4">Book a table</a>
    {%- endif -%}
</div>
