{%- assign formatted_title = title | replace: 'Restaurant - ', '' | split: ' - ' -%}
{%- assign formatted_title = '<span>' | append: formatted_title[0] | append: '</span><br>' | append: formatted_title[1] -%}

{{ formatted_title }}
