<div class="c-statement-video">
    <div id="video-{{ id }}-bg" class="c-statement-video__video-bg"></div>
    {%- if video_url != blank -%}
        <div class="c-statement-video__video-wrapper">
            <video class="c-statement-video__video js-bg-video" data-src="{{ video_url }}" autoplay loop muted plays-inline>
                <source type="video/mp4">
            </video>
        </div>
    {%- endif -%}
    {%- if title_image != blank -%}
        <img src="{{ title_image | img_url: 'x350' }}" srcset="{{ title_image | img_url: 'x350', scale:2 }} 2x" alt="{{ title }}"  class="c-statement-video__title">
    {%- endif -%}
</div>

{%- if video_image != blank -%}
    <style>
    #video-{{ id }}-bg {
        background-image: url('{{ video_image | img_url: '800x' }}');
    }

    @media (min-width: 46.3125em) {
        #video-{{ id }}-bg {
            background-image: url('{{ video_image | img_url: '1500x' }}');
        }
    }
    </style>
{%- endif -%}
