button {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 0;
    color: inherit;
    cursor: pointer;
    display: inherit;
    font-family: inherit;
    font-size: 100%;
    text-align: inherit;
}

button[disabled],
button[disabled]:active,
button[disabled]:hover,
button[disabled]:focus {
    filter: grayscale(1);
    opacity: 0.3;
    pointer-events: none;
}
