html {
    background-color: theme-color(page, background);
    color: theme-color(page, text);
    font-family: $global-font-family-body;
    font-feature-settings: 'kern', 'liga', 'clig', 'calt';
    font-kerning: normal;
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    text-rendering: optimizeLegibility;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    overflow: hidden;
    transition: background ($global-transition-speed * 2) $global-transition-easing;
}

body::before {
    content: 'mobile';
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 0;
}

@each $breakpoint-name, $breakpoint-size in $mq-breakpoints {
    @include mq($from: $breakpoint-name) {
        body::before {
            content: '#{$breakpoint-name}';
        }
    }
}

@include mq($until: tabletSmall) {
    html {
        font-size: 0.9rem;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
    }
}

img {
    max-width: 100%;
}
