.s-contact-restaurant-header {
    .c-page-header {
        background: none !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .c-page-header__image,
    .c-button {
        display: none !important;
    }

    .o-wrapper {
        display: flex !important;
        padding: 0 !important;
    }

    h1 {
        flex: 0 0 50% !important;
        font-size: rem($inuit-font-size-h3) !important;
        text-align: left !important;
    }

    .c-text-dividers {
        display: block !important;
        flex: 0 0 50% !important;
        text-align: right !important;
    }
    .c-text-dividers__text {
        display: block !important;
    }
    .c-text-dividers__text::before {
        display: none !important;
    }
}

@include mq($until: mobile) {
    .s-contact-restaurant-header {
        .o-wrapper {
            flex-direction: column;
            padding-left: rem($global-spacing) !important;
            padding-right: rem($global-spacing) !important;
        }

        .c-text-dividers,
        .c-text-dividers * {
            text-align: left !important;
        }

        a {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
}
