.shopify-policy__container {
    max-width: 950px !important;
    margin-bottom: rem($global-spacing-huge) !important;
    margin-top: rem(200px) !important;

    h1 {
        font-family: $global-font-family-headings !important;
        font-size: rem($inuit-font-size-h1) !important;
        line-height: 1.2 !important;
        margin-bottom: rem($global-spacing-large) !important;
        text-transform: uppercase;
        word-break: keep-all !important;
    }
}
