$background-offset-size: $global-spacing * 0.75;
$background-offset-size--large: $global-spacing-large;

.o-wrapper--offset-flush,
.o-wrapper--offset-flush2 {
    margin-left: rem($background-offset-size);
    margin-top: rem(-60px);
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    width: calc(100% - #{rem($background-offset-size * 2)});
}
.o-wrapper--offset-flush {
    margin-top: rem(-60px);
    padding-top: 0 !important;
}

@include mq($from: mobile) {
    .o-wrapper--offset-flush,
    .o-wrapper--offset-flush2 {
        margin-left: rem($background-offset-size);
        padding-right: $global-spacing !important;
    }
}

@include mq($from: tablet) {
    .o-wrapper--offset-flush,
    .o-wrapper--offset-flush2 {
        margin-left: rem($global-spacing-large - $global-spacing-tiny);
        max-width: none;
        width: calc(100% - #{rem($global-spacing-large)});
    }
}

@media (min-width: #{1150px + ($background-offset-size--large * 4)}) {
    .o-wrapper--offset-flush,
    .o-wrapper--offset-flush2 {
        left: 50%;
        margin-left: #{((1150px / 2) + $background-offset-size--large) * -1};
        max-width: #{1150px + ($background-offset-size--large * 2)};
    }
}

@include mq($from: desktop) {
    .o-wrapper--offset-flush {
        margin-top: rem(-80px);
    }
}
