.o-wrapper {
    padding-left: $global-spacing-large;
    padding-right: $global-spacing-large;
    width: 100%;
}

.o-wrapper--small {
    max-width: rem(600px);
}

.o-wrapper--medium {
    max-width: rem(950px);
}

.o-wrapper--large {
    max-width: rem($inuit-wrapper-width + ($global-spacing-large));
}

@media (min-width: #{rem($inuit-wrapper-width + ($global-spacing-large * 2))}) {
    .o-wrapper--large {
        padding-left: 0;
        padding-right: 0;
    }
}

.o-wrapper--huge {
    max-width: 1500px;
}

@include mq($from: $inuit-wrapper-width + 100) {
    .o-wrapper--padded {
        padding-left: 100px;
        padding-right: 100px;
        max-width: $inuit-wrapper-width + 100;
    }

    .o-wrapper--page-intro {
        padding-bottom: 0 !important;
        padding-top: 0 !important;
    }
}

@include mq($from: tablet) {
    .o-wrapper--fluid {
        max-width: 70%;
    }

    .o-wrapper--article {
        margin-left: auto;
        margin-right: auto;
        max-width: $global-editorial-wrapper-max-width;
    }
}

@include mq($until: tablet) {
    .o-wrapper {
        padding-left: $global-spacing-large;
        padding-right: $global-spacing-large;
    }

    .o-wrapper--small {
        padding-left: $global-spacing;
        padding-right: $global-spacing;
    }
}

@include mq($until: mobile) {
    .o-wrapper {
        padding-left: rem($global-spacing);
        padding-right: rem($global-spacing);
    }
}
