<header class="c-page-header t-tertiary c-animated-content u-in-viewport">
    <div class="o-wrapper">
        <h1 class="u-heading u-heading--caps" data-order="1">Your <span>order</span></h1>
        
        {%- if order.fulfillment_status == 'unfulfilled' -%}
            <p data-order="2">Thanks for your order. We're working on it and it will be shipped to you shortly.</p>
        {%- else -%}
            <p data-order="2">Thanks for your order. We have shipped it and it should be with you soon.</p>
        {%- endif -%}

        <p data-order="3"><em><strong>{{ 'customer.order.title' | t: name: order.name }}</strong>, {{ 'customer.order.date' | t: date: order.created_at | date: "%B %d, %Y %I:%M%p" }}</em></p>
    </div>

    <div class="o-wrapper o-wrapper--large c-back-button-container">
        {% include 'back-button', url:'/account', label:'Back to your account' %}
    </div>
</header>

<section class="o-section o-wrapper">
    <div class="o-layout u-stack-layout@mobile">
        <div class="o-layout__item u-7/12@mobile">
            <div class="o-layout o-layout--large u-mb u-show@mobile">
                <div class="o-layout__item u-6/12">
                    <span class="u-label u-color-primary">{{ 'customer.order.product' | t }}</span>
                </div><div class="o-layout__item u-2/12 u-text-align-right">
                    <span class="u-label u-color-primary">{{ 'customer.order.price' | t }}</span>
                </div><div class="o-layout__item u-2/12 u-text-align-right">
                    <span class="u-label u-color-primary">{{ 'customer.order.quantity' | t }}</span>
                </div><div class="o-layout__item u-2/12 u-text-align-right">
                    <span class="u-label u-color-primary">{{ 'customer.order.total' | t }}</span>
                </div>
            </div>

            {%- assign money_saved = 0 -%}
            {%- for line_item in order.line_items -%}

                {%- assign money_saved = money_saved | plus: line_item.total_discount -%}
                <div id="{{ line_item.key }}" class="o-layout o-layout--large u-flex@mobile u-align-items-center">
                    <div class="o-layout__item u-2/12@mobile">
                        <a href="{{ line_item.product.url }}" class="u-image-hover u-border-2-grey-light" style="background-image: url({{ line_item.product.featured_image | img_url: '300x' }}); background-position: center center; background-size: cover; height: 0; padding-bottom: 100%; width: 100%; display: inline-block;"></a>
                    </div><div class="o-layout__item u-4/12@mobile">
                        <h3 class="u-heading u-h5">{{ line_item.title | link_to: line_item.product.url }}</h3>
                        
                        {%- if line_item.fulfillment -%}
                            <div class="u-font-size-14 u-color-grey u-mt--">
                                {%- assign created_at = line_item.fulfillment.created_at | date: format: 'month_day_year' -%}
                                {{ 'customer.order.fulfilled_at' | t: date: created_at }}
                               
                                {%- if line_item.fulfillment.tracking_number -%}
                                    by <a href="{{ line_item.fulfillment.tracking_url }}">{{ line_item.fulfillment.tracking_company }} #{{ line_item.fulfillment.tracking_number}}</a>
                                {%- endif -%}
                            </div>
                        {%- endif -%}
                    </div>
                    <div class="o-layout__item u-text-align-right u-color-secondary u-2/12@mobile" data-label="{{ 'customer.order.price' | t }}">
                        {{ line_item.price | money_without_trailing_zeros }}
                    </div>
                    <div class="o-layout__item u-text-align-right u-color-secondary u-2/12@mobile" data-label="{{ 'customer.order.quantity' | t }}">
                        {{ line_item.quantity }}
                    </div>
                    <div class="o-layout__item u-text-align-right u-color-secondary u-2/12@mobile" data-label="{{ 'customer.order.total' | t }}">
                        {{ line_item.quantity | times: line_item.price | money_without_trailing_zeros }}
                    </div>
                </div>

                <div class="u-mv+">
                    <hr class="u-hr">
                </div>
            {% endfor %}

            <div class="u-mt u-h6">
                {%- if money_saved != 0 -%}
                    <div>
                        <strong>{{ 'customer.order.discount' | t }}</strong>&nbsp;&nbsp;
                        <span class="u-color-secondary">-{{ money_saved | money_without_trailing_zeros }}</span>
                    </div>
                {%- endif -%}

                {%- for discount in order.discounts -%}
                    <div>
                        <strong>{{ discount.code }} {{ 'customer.order.discount' | t }}</strong>&nbsp;&nbsp;
                        <span class="u-color-secondary">{{ discount.savings | money_without_trailing_zeros }}</span>
                    </div>
                {%- endfor -%}

                {%- for shipping_method in order.shipping_methods -%}
                    <div>
                        <strong>{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})</strong>&nbsp;&nbsp;
                        <span class="u-color-secondary">{{ shipping_method.price | money_without_trailing_zeros }}</span>
                    </div>
                {%- endfor -%}

                {%- for tax_line in order.tax_lines -%}
                    <div>
                        <strong>{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)</strong>&nbsp;&nbsp;
                        <span class="u-color-secondary">{{ tax_line.price | money_without_trailing_zeros }}</span>
                    </div>
                {%- endfor -%}
                
                <div>
                    <strong>{{ 'customer.order.total' | t }}</strong>&nbsp;&nbsp;
                    <span class="u-color-secondary">{{ order.total_price | money_without_trailing_zeros }}</span>
                </div>
            </div>

            <div class="u-mv+">
                <hr class="u-hr">
            </div>

            <div class="o-layout u-stack-layout@mobile">
                <div class="o-layout__item u-6/12@mobile">
                    <h3 class="u-heading u-heading--caps u-h5 u-mb-">Billing <span>address</span></h3>
                    <div class="u-label u-color-primary">
                        {{ order.financial_status_label }}
                    </div>

                    <div class="u-mt-">
                        {%- assign address = order.billing_address -%}
                        {% include 'order-address' %}
                    </div>
                </div><div class="o-layout__item u-6/12@mobile">
                    <h3 class="u-heading u-heading--caps u-h5 u-mb-">Shipping <span>address</span></h3>
                    <div class="u-label u-color-primary">
                        {{ order.fulfillment_status_label }}
                    </div>

                    <div class="u-mt-">
                        {%- assign address = order.shipping_address -%}
                        {% include 'order-address' %}
                    </div>
                </div>
            </div>
        </div><div class="o-layout__item u-1/12@mobile">
        </div><div class="o-layout__item u-4/12@mobile">
            <div class="t-grey-light u-p">
                <h2 class="u-heading u-heading--caps u-h4 u-mb">Order <span>again</span></h2>
                <p>We hope you loved your order. You can easily order your items again.</p>

                <a href="/cart/add?{%- for line_item in order.line_items -%}id[]={{ line_item.variant_id }}&{%- endfor -%}" class="c-button c-button--primary u-1/1 u-block">
                    Add {{ order.line_items.size }} {{ order.line_items.size | pluralize: 'item', 'items' }} to cart
                </a>
            </div>

            <div class="u-mt">
                {% include 'user-account-help' %}
            </div>
        </div>
    </div>
</section>
