<header class="c-page-header t-tertiary">
    <div class="o-wrapper">
        <h1 class="u-heading u-heading--caps">Create an <span>account</span></h1>
    </div>
</header>

<section class="o-section o-wrapper">
    <div class="u-max-w-550px u-mh-auto">
        <div class="js-login-container">
            {% form 'create_customer' %}
                {%- if form.errors -%}
                    <div class="s-form">
                        {{ form.errors | default_errors }}
                    </div>
                {%- endif -%}

                <div class="c-form__row">
                    <div class="o-layout o-layout--small">
                        <div class="o-layout__item u-6/12@mobile">
                            <input type="text" name="customer[first_name]" id="FirstName" class="c-form__input u-1/1 {% if form.errors contains 'first_name' %}c-form__input--error{% endif %}" placeholder="{{ 'customer.register.first_name' | t }}" autofocus {% if form.first_name %}value="{{ form.first_name }}"{% endif %}>
                            <label for="FirstName" class="c-form__label c-form__label--float">First name</label>
                        </div><div class="o-layout__item u-6/12@mobile" style="position: relative;">
                            <input type="text" name="customer[last_name]" id="LastName" class="c-form__input u-1/1 u-mt- u-mt0@mobile {% if form.errors contains 'last_name' %}c-form__input--error{% endif %}" placeholder="{{ 'customer.register.last_name' | t }}" {% if form.last_name %}value="{{ form.last_name }}"{% endif %}>
                            <label for="LastName" class="c-form__label c-form__label--float">Last name</label>
                        </div>
                    </div>
                </div>
                <div class="c-form__row">
                    <input type="email" name="customer[email]" id="Email" class="c-form__input u-1/1 {% if form.errors contains 'email' %}c-form__input--error{% endif %}" placeholder="{{ 'customer.register.email' | t }}" value="{% if form.email %}{{ form.email }}{% endif %}" spellcheck="false" autocomplete="off" autocapitalize="off">
                    <label for="Email" class="c-form__label c-form__label--float">Email</label>
                </div>
                <div class="c-form__row">
                    <input type="password" name="customer[password]" id="CreatePassword" class="c-form__input u-1/1 {% if form.errors contains 'password' %}c-form__input--error{% endif %}" placeholder="{{ 'customer.register.password' | t }}">
                    <label for="CreatePassword" class="c-form__label c-form__label--float">Password</label>
                </div>

                <p class="u-mt u-font-size-14 u-leading-14 u-color-grey-dark u-text-align-center">{{ settings.register_consent_checkbox_label }}</p>

                <button type="submit" class="c-button c-button--primary u-mt u-1/1">
                    {{ 'customer.register.submit' | t }}
                </button>
            {% endform %}
        </div>
    </div>
</section>
