$helper-align-items: center;
$helper-flex-directions: column;
$helper-flex-grows: 1;
$helper-justify-contents: center flex-end;

.u-flex {
    display: flex;
}

@each $helper-flex-grow in $helper-flex-grows {
    .u-flex-grow-#{$helper-flex-grow} {
        flex-grow: #{$helper-flex-grow};
    }
}

@each $helper-flex-direction in $helper-flex-directions {
    .u-flex-direction-#{$helper-flex-direction} {
        flex-direction: #{$helper-flex-direction};
    }
}

@each $helper-align-item in $helper-align-items {
    .u-align-items-#{$helper-align-item} {
        align-items: #{$helper-align-item};
    }
}

@each $helper-justify-content in $helper-justify-contents {
    .u-justify-content-#{$helper-justify-content} {
        justify-content: #{$helper-justify-content};
    }
}

@include mq($from: mobile) {
    .u-flex\@mobile {
        display: flex;
    }
}
