$helper-font-sizes: 12px 14px;
$helper-font-weights: 600;
$helper-line-heights: 14;
$helper-text-aligns: center right;
$helper-text-transforms: uppercase;

@each $helper-font-size in $helper-font-sizes {
    .u-font-size-#{parseInt($helper-font-size)} {
        font-size: rem($helper-font-size) !important;
    }
}

@each $helper-text-align in $helper-text-aligns {
    .u-text-align-#{$helper-text-align} {
        text-align: #{$helper-text-align} !important;
    }
}

@each $helper-line-height in $helper-line-heights {
    .u-line-height-#{$helper-line-height} {
        line-height: #{$helper-line-height}px !important;
    }
}

@each $helper-font-weight in $helper-font-weights {
    .u-font-weight-#{$helper-font-weight} {
        font-weight: $helper-font-weight !important;
    }
}

@each $helper-text-transform in $helper-text-transforms {
    .u-text-transform-#{$helper-text-transform} {
        text-transform: $helper-text-transform !important;
    }
}

@include mq($from: mobile) {
    .u-text-align-left\@mobile {
        text-align: left !important;
    }

    .u-text-align-center\@mobile {
        text-align: center !important;
    }

    .u-text-align-right\@mobile {
        text-align: right !important;
    }
}

.u-letter-spacing-05 {
    letter-spacing: rem(0.5px);
}

.u-body--caps {
    span {
        font-style: normal;
        text-transform: uppercase;
    }
}

.u-label {
    color: theme-color(footer, accent);
    display: block;
    font-family: $global-font-family-bold;
    font-size: rem(12px);
    font-weight: 800;
    letter-spacing: rem(0.5px);
    text-transform: uppercase;
}
