$accordion-background-color: $color-white;
$accordion-background-color--active: $color-grey-light;
$accordion-border-color: $color-gin;
$accordion-toggle-icon-size: 20px;

.c-accordion {
    background-color: $accordion-background-color;
    border: 2px solid $accordion-border-color;
    overflow: hidden;
    transition: background-color $global-transition-speed $global-transition-easing;
}
.c-accordion:not(:hover) {
    background-color: $color-white;
}

.c-accordion__toggle {
    align-items: center;
    color: $color-primary;
    cursor: pointer;
    display: flex;
    font-family: $global-font-family-bold;
    font-size: rem($global-font-size + 1px);
    padding: rem($global-spacing * 0.75);
    outline: none;
    transition: $global-transition;
    width: 100%;
}
.c-accordion__toggle:hover,
.c-accordion__toggle:active,
.c-accordion__toggle[aria-expanded='true'] {
    background-color: $color-grey-light;
    color: $color-primary;
}

.c-accordion__toggle-icon {
    flex: 0 0 $accordion-toggle-icon-size;
    height: $accordion-toggle-icon-size;
    transition: transform $global-transition-speed $global-transition-easing;
    width: $accordion-toggle-icon-size;
    will-change: transform;
}

.c-accordion__toggle[aria-expanded='true'] .c-accordion__toggle-icon {
    transform: rotate(135deg);
}

.c-accordion__content {
    background-color: $accordion-background-color--active;
    color: $accordion-background-color--active;
    display: none;
    opacity: 1 !important;
    transition: color ($global-transition-speed * 2) $global-transition-easing,
        opacity ($global-transition-speed * 3), transform ($global-transition-speed * 3);
    transform: none !important;
}
.c-accordion__content > div {
    padding: rem($global-spacing-small);
    padding-top: 0;
}
.c-accordion__content[aria-hidden='false'] {
    color: $color-como;
}

@include mq($from: mobile) {
    .c-accordion__content > div {
        padding: rem($global-spacing * 0.75);
        padding-top: 0;
    }
}
