@mixin animated-content {
    opacity: 0;
    transform: translateY(#{rem($global-spacing)});
    will-change: transform;
}

@mixin animated-content-active($animation: animateContentEntrance, $duration: 1s) {
    animation: $animation $duration;
    animation-fill-mode: forwards;
    animation-timing-function: $global-transition-easing-cubic;
}

.c-animated-item {
    @include animated-content();

    &[data-animation='fade'] {
        transform: none;
    }

    &.u-in-viewport {
        @include animated-content-active();
    }
    &.u-in-viewport[data-animation='fade'] {
        @include animated-content-active(animateContentEntranceFade, 1.4s);
    }
}

.c-animated-content {
    [data-order] {
        @include animated-content();
    }
    [data-animation='fade'] {
        transform: none;
    }

    &.u-in-viewport [data-order] {
        @include animated-content-active();
    }
    &.u-in-viewport [data-order][data-animation='fade'] {
        @include animated-content-active(animateContentEntranceFade, 1.4s);
    }

    @for $order from 2 through 10 {
        &.u-in-viewport [data-order='#{$order}'] {
            animation-delay: 0.1s * $order;
        }
    }
}

.c-animated-item,
.c-animated-content [data-order] {
    .no-js & {
        animation: animationFallback 1s linear !important;
        animation-fill-mode: forwards !important;
        animation-delay: 2s !important;
        opacity: 0 !important;
        transform: none !important;
    }

    .s-theme-editor & {
        animation: none !important;
        opacity: 1 !important;
        transform: none !important;
        transition: none !important;
    }
}

@keyframes animationFallback {
    from {
        opacity: 0;
        transform: none;
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes animateContentEntrance {
    from {
        opacity: 0;
        transform: translateY(#{$global-spacing});
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animateContentEntranceFade {
    from {
        opacity: 0;
        transform: scale(0.975);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
