.c-back-button {
    align-items: center;
    color: $color-secondary;
    display: flex;
    font-size: rem(14px);
}
.c-back-button:hover,
.c-back-button:active {
    color: darken($color-secondary, 15%);
}

.c-back-button__icon {
    fill: currentColor;
    margin-right: rem($global-spacing-small);
    transition: $global-transition;
}
.c-back-button:hover .c-back-button__icon,
.c-back-button:active .c-back-button__icon {
    transform: translateX(-4px);
}

@include mq($until: mobile) {
    .c-back-button-container {
        margin: rem($global-spacing-small) 0 ($global-spacing-small * -1);
    }

    .c-back-button {
        justify-content: center;
    }
}

@include mq($from: tablet) {
    .c-back-button-container {
        bottom: rem(50px + $global-spacing);
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 100%;
    }
}

@include mq($from: desktop) {
    .c-back-button-container {
        bottom: rem(80px + $global-spacing);
    }
}

.c-page-header--flush .c-back-button-container {
    bottom: rem($global-spacing-huge);
}

[class*='o-wrapper--offset'].c-back-button-container {
    bottom: 0;
    margin-bottom: rem($global-spacing-small) * -1;
    margin-top: 0;
    position: relative;
    transform: none;
}
