.c-button-list {
    display: flex;

    .c-button {
        height: 100%;
    }
    .c-button + .c-button {
        margin-left: $global-spacing-small;
    }
}

.c-button-list--small {
    .c-button + .c-button {
        margin-left: $global-spacing-tiny;
    }
}

@include mq($until: mobile) {
    .c-button-list {
        .c-button {
            flex-grow: 0;
            padding-left: $global-spacing;
            padding-right: $global-spacing;
        }

        .c-button + .c-button {
            margin-left: $global-spacing-tiny;
        }
    }

    .c-button-list--block\@mobile {
        display: block;

        .c-button {
            width: 100%;
        }
        .c-button + .c-button {
            margin-left: 0;
            margin-top: rem($global-spacing-tiny);
        }
    }
}
