$carousel-max-width: 1500px;

.c-carousel {
    height: 270px;
    overflow: hidden;
    position: relative;
}
.flickity-enabled {
    overflow: visible;
}

.c-carousel__item {
    height: 270px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.c-carousel__item:not(.is-selected) {
    opacity: 0;
    transition: opacity 0.4s ease-out;
    transform: translateY($global-spacing);
}
.flickity-enabled {
    .c-carousel__item {
        margin-right: $global-spacing-small;
    }
    .c-carousel__item:not(.is-selected) {
        opacity: 1;
        // transition: none;
        transform: none;
    }
}

.c-carousel__image {
    height: 290px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

@include mq($from: mobile) {
    .c-carousel__item {
        width: 70%;
    }

    .flickity-enabled .c-carousel__item {
        margin-right: $global-spacing;
    }
}

@include mq($from: mobileSmall) {
    .c-carousel,
    .c-carousel__item,
    .c-carousel__image,
    .flickity-viewport {
        height: 380px;
    }
}

@include mq($from: tablet) {
    .c-carousel,
    .c-carousel__item,
    .c-carousel__image,
    .flickity-viewport {
        height: 480px;
    }
}

@include mq($from: desktop) {
    .c-carousel,
    .c-carousel__item,
    .c-carousel__image,
    .flickity-viewport {
        height: 620px;
        max-height: 880vmin;
    }

    .c-carousel__item,
    .c-carousel__image {
        max-width: $carousel-max-width;
    }
}

@include mq($from: desktop-large) {
    .c-carousel,
    .c-carousel__item,
    .c-carousel__image,
    .flickity-viewport {
        height: 720px;
        max-height: 70vmin;
    }
}

.flickity-page-dots {
    margin-top: rem($global-spacing-small * -1);
    position: relative;
}
.flickity-page-dots .dot {
    background-color: $color-primary;
    height: 6px;
    margin: 0 4px;
    width: 6px;
}
.flickity-page-dots .dot.is-selected {
    background-color: $color-secondary;
}

.flickity-prev-next-button {
    background-color: $color-white;
    box-shadow: 0 15px 40px rgba($color-black, 0.3);
}
.flickity-prev-next-button .flickity-button-icon {
    fill: $color-primary;
    height: 30%;
    left: 35%;
    transition: $global-transition;
    top: 35%;
    width: 30%;
}

@include mq($from: mobile) {
    .flickity-prev-next-button {
        height: 54px;
        width: 54px;
    }
    .flickity-prev-next-button.previous {
        left: calc(15% - 100px);
    }
    .flickity-prev-next-button.next {
        right: calc(15% - 100px);
    }
}

@media (min-width: #{$carousel-max-width + ($global-spacing * 8)}) {
    .flickity-prev-next-button.previous {
        left: calc(50% - #{$carousel-max-width / 2} - #{$global-spacing * 4});
    }
    .flickity-prev-next-button.next {
        right: calc(50% - #{$carousel-max-width / 2} - #{$global-spacing * 4});
    }
}

//

@include mq($until: mobile) {
    .c-layout-carousel.flickity-enabled {
        margin-left: rem($global-spacing * -1);
        width: calc(100% + #{rem($global-spacing * 2)});

        .o-layout__item {
            width: calc(100% - #{rem($global-spacing * 2)});
        }

        .flickity-page-dots {
            margin-top: rem(12px);
        }
    }
}

.t-tertiary {
    .flickity-page-dots .dot {
        background-color: theme(tertiary, accent);
        opacity: 0.3;
    }
    .flickity-page-dots .dot.is-selected {
        opacity: 1;
    }
}
