$form-field-height: 60px;
$form-field-horizontal-padding: 20px;
$form-field-vertical-padding: 14px;
$form-field-border-color: $color-grey;
$form-field-border-color--active: darken($form-field-border-color, 15%);
$form-field-font-size: $inuit-global-font-size;
$form-field-multiline-rows: 10;
$form-checkbox-size: 24px;
$form-field-label-width: 160px;

// .c-form {
//     overflow: hidden;
// }

.c-form__field {
    @include inuit-clearfix();
    position: relative;
}

.c-form__row {
    position: relative;
}
.c-form__row + * {
    margin-top: rem($global-spacing-small * 1.5);
}

.c-form__label {
    cursor: pointer;
    display: block;
    font-family: $global-font-family-bold;
    line-height: 1;
}

.c-form__label--float {
    background-color: $color-white;
    color: $color-juniper;
    font-size: rem(11px);
    left: rem($form-field-horizontal-padding / 2);
    letter-spacing: rem(0.25px);
    opacity: 0;
    padding: rem($global-spacing-tiny) rem($global-spacing-small);
    position: absolute;
    text-transform: uppercase;
    top: 0;
    transform: translateY(0);
    transition: $global-transition;
    z-index: 4;
}

.c-form__input {
    background-color: theme-color(form, background);
    border: 2px solid theme-color(form, accent);
    border-radius: $global-radius--small;
    color: theme-color(form, text);
    font-family: $global-font-family-bold;
    font-size: rem($form-field-font-size);
    height: $form-field-height;
    padding-bottom: $form-field-vertical-padding;
    padding-left: $form-field-horizontal-padding;
    padding-right: $form-field-horizontal-padding;
    padding-top: $form-field-vertical-padding;
    outline: none;
    -webkit-appearance: none;
    transition: $global-transition;
}
.c-form__input:focus {
    border-color: darken(theme-color(form, accent), 25%);
    box-shadow: $global-shadow;
}

.c-form__input::placeholder {
    color: lighten(theme-color(form, text), 10%);
}

.c-form__input:not(:placeholder-shown) + .c-form__label--float {
    transform: translateY(-50%);
    opacity: 1;
}

.c-form__input.has-error,
.has-error > .c-form__input,
.c-form__input:not(.c-form__input--multiline):not(:empty):invalid {
    border-color: $color-red;
    color: $color-red;
}

.c-form__input--multiline {
    height: ($global-spacing * $form-field-multiline-rows);
    padding-top: 14px;
}

.c-form__label--checkbox {
    align-items: center;
    display: flex;
    min-height: rem($form-checkbox-size);
}

.c-form__checkbox {
    -webkit-appearance: checkbox;
    left: 1px;
    margin: 0;
    outline: none;
    opacity: 0;
    position: absolute;
    top: 1px;
    z-index: 0;
}

.c-form__checkbox + .c-form__label {
    font-family: $global-font-family-body;
    padding-left: rem($form-checkbox-size * 1.5);
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    z-index: 1;
}

.c-form__checkbox + .c-form__label::before {
    border: 2px solid $color-secondary;
    border-radius: 100%;
    content: '';
    display: block;
    height: rem($form-checkbox-size);
    left: 0;
    opacity: 0.4;
    position: absolute;
    top: 0;
    transition: all 0.12s, border-color 0.08s;
    width: rem($form-checkbox-size);
}
.c-form__checkbox:checked + .c-form__label:before {
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 0;
    left: rem(8px);
    opacity: 1;
    top: rem(-4px);
    transform: rotate(45deg);
    width: rem($form-checkbox-size / 2);
}

.c-form__field + .c-form__field {
    margin-top: $global-spacing-small;
}

/* Variants
   ====================================== */

$form-row-height: 60px;
$form-row-button-width: 130px;

.c-form--row {
    display: flex;
    position: relative;

    .c-form__input {
        height: $form-row-height;
        padding-right: ($form-row-button-width + $global-spacing-tiny);
        position: relative;
        z-index: 1;
    }

    .c-form__button {
        cursor: pointer;
        height: calc(100% - #{$global-spacing-tiny * 2});
        position: absolute;
        right: $global-spacing-tiny;
        text-align: center;
        top: $global-spacing-tiny;
        width: $form-row-button-width;
        z-index: 2;
    }
}

.c-form__button--inline {
    position: absolute;
    right: 6px;
    top: 6px;
}

/**
 * This a WIP - needs more work!
 */
.c-form--flex {
    &,
    * {
        display: flex;
    }
}

@include mq($from: mobile) {
    .c-form--flex,
    .c-form--flex * {
        height: auto;
    }
}

@include mq($until: mobile) {
    .c-form--flex,
    .c-form--flex * {
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }
    .c-form--flex * + * {
        margin-top: $global-spacing-tiny;
    }
}

.c-form__inline-link {
    position: relative;
}
.c-form__link {
    background-color: $color-white;
    font-size: $form-field-font-size;
    padding-left: $global-spacing-tiny;
    position: absolute;
    right: $form-field-horizontal-padding;
    top: calc(50% - #{$global-spacing-small});
}

//

.s-form {
    .errors ul {
        color: $color-red;
        list-style-position: inside;
        margin-bottom: rem($global-spacing-small);
    }
}

//

.c-form--default {
    .custom-select {
        border: 2px solid theme-color(form, accent);
    }

    .custom-select select {
        color: theme-color(form, text);
        font-family: $global-font-family-bold;
        font-size: rem($form-field-font-size);
        letter-spacing: 0;
        text-transform: none;
    }
}
