.c-gallery {
    position: relative;
}

.c-gallery__images {
    height: 0;
    overflow: hidden;
    padding-bottom: 100%;
    width: 100%;
}
.c-gallery__image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 0;
    padding-bottom: 100%;
    transition: $global-transition;
}

.c-gallery__nav {
    display: none;
    left: ($global-spacing-large + $global-spacing-tiny) * -1;
    position: absolute;
    top: 0;
}

.c-gallery__nav-thumb {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 100%;
    border: 1px solid $color-grey-light;
    height: $global-spacing-large;
    width: $global-spacing-large;
}   
    .c-gallery__nav-thumb + .c-gallery__nav-thumb {
        margin-top: $global-spacing-tiny;
    }
    .c-gallery__nav-thumb.is-active {
        border-color: $color-black;
    }

.c-gallery__nav-dot {
    background-color: $color-grey-light;
    border-radius: 100%;
    display: inline-block;
    height: $global-spacing-small;
    width: $global-spacing-small;
}
    .c-gallery__nav-dot + .c-gallery__nav-dot {
        margin-left: $global-spacing-tiny;
    }
    .c-gallery__nav-dot.is-active {
        background-color: $color-black;
    }

@include mq ($from: tablet) {
    .c-gallery__nav {
        display: block;
    }
}
