.c-hero-content__image-container {
    display: block;
    height: 0;
    margin-bottom: rem($global-spacing);
    padding-bottom: 80%;
    position: relative;
}
.c-hero-content__image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    top: 0;
}

.c-hero-content__quote {
    color: theme-color(page, text);
    font-family: $global-font-family-italic;

    footer::before {
        content: '—';
        margin-right: rem($global-spacing-tiny);
    }
}

@include mq($from: mobileSmall) {
    .c-hero-content {
        align-items: center;
        display: flex;
    }

    .c-hero-content__image-container {
        align-self: flex-start;
        flex: 0 0 50%;
        margin-bottom: 0;
        padding-bottom: 45%;
    }

    .c-hero-content__content {
        flex: 0 0 45%;
        padding: rem($global-spacing-large);
    }
}

@include mq($from: desktop) {
    .c-hero-content__content {
        padding-left: rem($global-spacing-huge) !important;
    }
}
