$hero-banner-max-width: 700px;
$hero-banner-min-height: 190px;
$hero-banner-min-height--large: 560px;
$hero-banner-min-height--huge: 700px;
$hero-banner-navigation-spacing: 70px;
$hero-banner-color: $color-grey-light;
$hero-banner-text-color: $color-dark;
$hero-banner-cta-text-color: $color-white;
$hero-banner-cta-bg-color: $color-primary;
$hero-banner-edge-height: 100px;

/**
 * 1. Contain the background image
 */
.c-hero-banner {
    background-color: $hero-banner-color;
    min-height: $hero-banner-min-height;
    position: relative; /* [1] */
    overflow: hidden;
}

.c-hero-banner__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    height: $hero-banner-min-height;
    overflow: hidden;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    will-change: transform;
    z-index: 0;
}

/**
 * 1. Align items vertically in the center
 * 2. Allow the content to wrap on new lines
 * 5. Layer the content above the background image
 */
.c-hero-banner__wrapper {
    @include rem(padding-bottom, $global-spacing);
    @include rem(padding-top, $global-spacing);
    color: $hero-banner-text-color;
    max-width: $hero-banner-max-width;
    position: relative;
    z-index: 1;
}

@include mq($from: mobile) {
    /**
     * 1. Align the banner's content vertically in the center
     */
    .c-hero-banner {
        align-items: center; /* [1] */
        display: flex;
        min-height: $hero-banner-min-height--large;
        padding-bottom: 0;
    }

    /**
     * 1. Set a minimum width for the banner content
     */
    .c-hero-banner__wrapper {
        @include rem(padding-bottom, $global-spacing-huge);
        @include rem(padding-left, $global-spacing);
        @include rem(padding-right, $global-spacing);
        @include rem(padding-top, $hero-banner-navigation-spacing);
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .c-hero-banner__video {
        height: 100%;
        left: 50%;
        opacity: 0;
        position: absolute;
        top: 0;
        transform: translateX(-50%);
        transition: all 0.4s ease-out;
        width: auto;

        &.is-active {
            opacity: 1;
        }
    }
}

@include mq($from: desktop-large) {
    .c-hero-banner {
        min-height: $hero-banner-min-height--huge;
    }
}

.c-hero-banner--minimal {
    min-height: 0;

    .c-hero-banner__wrapper {
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        max-width: none;
    }
}
