.c-loading-spinner {
    animation: spin 0.75s infinite linear;
    border-radius: 50%;
    border: 0.25rem solid $color-grey-light;
    border-top-color: $color-laser;
    height: rem($global-spacing-large);
    width: rem($global-spacing-large);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
