.c-menu {
    border: 2px solid $color-gin;
    display: flex;
    text-align: center;
}

.c-menu__image,
.c-menu__image img {
    vertical-align: top;
    width: 100%;
}

.c-menu__content {
    flex-grow: 1;
    padding: rem($global-spacing);
}

.c-menu__cta {
    padding-bottom: rem($global-spacing);
}

@include mq($until: mobile) {
    .c-menu-container.flickity-enabled {
        margin-left: rem($global-spacing * -1);
        width: calc(100% + #{rem($global-spacing * 2)});
    }

    .c-menu-container .flickity-slider {
        margin-left: rem($global-spacing);
    }

    .c-menu {
        flex-direction: column;
        margin-right: rem($global-spacing-tiny);
        width: calc(100vw - #{rem($global-spacing * 2)});
    }
}

@include mq($from: mobile) {
    .c-menu {
        align-items: center;
        text-align: left;
    }
    .c-menu + .c-menu {
        margin-top: rem($global-spacing-small);
    }

    .c-menu__image {
        flex: 0 0 rem(200px);
    }

    .c-menu__content {
        padding: rem($global-spacing);
    }

    .c-menu__cta {
        flex: 0 0 rem(200px);
        padding: rem($global-spacing);
        text-align: right;
    }
}

@include mq($from: desktop) {
    .c-menu__content {
        padding-left: rem($global-spacing-large);
    }

    .c-menu__cta {
        padding-right: rem($global-spacing-large);
    }
}
