@include mq($from: desktop) {
    .c-overlay-nav {
        display: none !important;
    }
}

@include mq($until: desktop) {
    .c-overlay-nav {
        background-color: theme-color(overlay-navigation, background);
        flex-direction: column;
        height: 100%;
        left: 0;
        justify-content: space-around;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: $global-highest-z-index - 1;
    }
    .c-overlay-nav__inner {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        padding-top: $global-spacing-huge;
        will-change: opacity;
    }

    .c-overlay-nav__nav {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        position: relative;
    }
    .c-overlay-nav--main {
        flex-grow: 1;
    }

    .c-overlay-nav__link {
        color: theme-color(overlay-navigation, links);
        display: block;
        font-family: $global-font-family-headings;
        font-size: rem(24px);
        font-size: 8vw;
        line-height: 1;
        margin-bottom: rem($global-spacing);
        min-height: 8vw;
        overflow: hidden;
        padding-left: rem($global-spacing);
        padding-right: rem($global-spacing);
        text-align: center;
        transition: color $global-transition-speed $global-transition-easing;
    }
    .c-overlay-nav__link span {
        display: block;
        transform: translateY(100%);
    }

    .c-overlay-nav .c-button {
        align-self: center;
    }

    .c-overlay-nav__footer .c-overlay-nav__link {
        color: $color-como;
        font-family: $global-font-family-body;
        font-size: rem(14px);
        text-transform: uppercase;
    }
}

@include mq($from: mobile, $until: desktop) {
    .c-overlay-nav__nav--main {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        margin-top: $global-spacing-large;
        max-height: 450px;
    }
}

@include mq($until: desktop) {
    .c-overlay-nav__footer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-bottom: $global-spacing-small;
        padding-top: $global-spacing-small;
    }
}

@media only screen and (max-height: 850px) and (orientation: landscape) {
    .c-overlay-nav__nav--main {
        margin-top: 0;
    }

    .c-overlay-nav__nav {
        display: block;
    }
    .c-overlay-nav__footer a,
    .c-overlay-nav__nav a {
        display: inline-block;
        margin-left: $global-spacing;
    }
    .c-overlay-nav__footer {
        display: block;
    }
    .c-overlay-nav__footer br,
    .c-overlay-nav__nav br,
    .c-overlay-nav .u-label {
        display: none;
    }

    .c-overlay-nav__link {
        font-size: 4vw;
        min-height: 0;
    }
}
