$background-offset-size: $global-spacing * 0.75;
$background-offset-size--large: $global-spacing-large;

.c-page-header {
    margin-bottom: rem(-60px);
    padding-bottom: rem(80px);
    padding-top: rem(100px);
    position: relative;
    text-align: center;
    z-index: 1;

    &::after {
        animation: pageHeaderEntrance 0.6s ease-in;
        background-color: theme-color(page, background);
        bottom: 0;
        content: '';
        height: rem(45px);
        left: rem($background-offset-size);
        max-width: rem($inuit-wrapper-width + ($background-offset-size * 2));
        position: absolute;
        width: calc(100% - #{rem($background-offset-size * 2)});
        z-index: 1;
    }
}

@keyframes pageHeaderEntrance {
    from {
        height: 0;
    }
}

.c-page-header + * {
    position: relative;
    z-index: 2;
}

.c-page-header .c-button {
    position: relative;
    z-index: 11;
}

.c-page-header--offset-2 {
    margin-bottom: rem(-80px);

    &::after {
        display: none;
    }
}

.c-page-header--small {
    padding-bottom: rem($global-spacing-huge) !important;
    padding-top: rem($global-spacing-huge) !important;
}

.c-page-header--flush::after {
    display: none;
}

@include mq($until: mobile) {
    .c-page-header__image {
        margin-top: rem($global-spacing-tiny * -1);
    }

    // .c-page-header + * h2,
    // .c-page-header + * .u-h2 {
    //     padding-left: rem($global-spacing);
    //     padding-right: rem($global-spacing);
    // }
}

@include mq($from: mobile) {
    .c-page-header {
        padding-bottom: rem(110px);
        padding-top: rem(110px);

        &::after {
            height: rem(60px);
        }
    }

    .c-page-header-col-offset {
        margin-top: rem(100px);
    }

    .c-page-header--offset-2 {
        margin-bottom: rem(-50px);

        &::after {
            display: none;
        }
    }
}

@include mq($from: tablet) {
    .c-page-header::after {
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - #{rem($background-offset-size--large * 2)});
    }
}

@include mq($from: desktop) {
    .c-page-header {
        padding-bottom: rem(140px);
        padding-top: rem(140px);

        &::after {
            height: rem(80px);
            width: calc(#{rem($inuit-wrapper-width + ($background-offset-size--large * 2))});
        }
    }

    .c-page-header--offset-2 {
        margin-bottom: rem(-80px);
    }
}
