.c-page-intro {
    position: relative;
}

.c-page-intro__content {
    position: relative;
    text-align: left;
    z-index: 2;
}

.c-page-intro__image {
    @include rem(max-height, 220px);
}

@include mq($from: mobile) {
    .c-page-intro__image {
        @include rem(max-height, 300px);
    }
}

@include mq($from: tablet) {
    .c-page-intro__image {
        @include rem(max-height, 360px);
    }
}
