.c-product__image {
    display: block;
    width: 100%;
    vertical-align: top;
}

.c-product-thumbnail {
    @include rem(height, 100px);
    @include rem(width, 100px);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid $color-grey-light;
    display: inline-block;
}

.c-product-description.is-stuck {
    left: 0 !important;
    margin-top: 100px;
}

@media screen and (min-width: 46.3125em) and (-webkit-min-device-pixel-ratio: 0) {
    .c-product-description {
        position: sticky !important;
        top: rem(100px) !important;
    }
}
