$promo-banner-background-color: $color-primary;
$promo-banner-font-size: 11px;
$promo-banner-padding: 4px $global-spacing-small;
$promo-banner-text-color: rgba($color-white, 0.7);
$promo-banner-text-color--bold: $color-white;

.c-promo-banner {
    background-color: $promo-banner-background-color;
    color: $promo-banner-text-color;
    font-size: $promo-banner-font-size;
    letter-spacing: 0.2px;
    padding: $promo-banner-padding;
    text-align: center;
    text-transform: uppercase;
}
.c-promo-banner strong {
    font-weight: normal;
    color: $promo-banner-text-color--bold;
}
