@include mq($from: mobile) {
    .c-repsonsive-order--1 {
        display: flex;
        flex-direction: column;

        > .o-layout__item:nth-of-type(1) {
            order: 2;
        }
        > .o-layout__item:nth-of-type(2) {
            order: 1;
        }
        > .o-layout__item:nth-of-type(3) {
            order: 3;
        }
    }
}
