$site-header-animation-duration: 0.8s;
$site-header-background-color: $color-white;
$site-header-height: 75px;
$site-header-height--small: 55px;
$site-header-logo-width: 190px;
$site-header-padding: $global-spacing;
$site-header-shadow: $global-shadow-active;
$site-header-z-index: ($global-highest-z-index + 2);
$site-header-mobile-nav-breakpoint: 1200px;
$site-header-nav-offset: $site-header-logo-width + 34px;

.c-site-header {
    background-color: theme-color(tertiary, background);
    position: fixed;
    transition: all 0.6s ease-in-out;
    width: 100%;
    z-index: $global-highest-z-index;

    .c-site-header__link {
        color: theme-color(tertiary, links);
    }
}
.c-site-header__wrapper {
    align-items: center;
    display: flex;
    height: $site-header-height--small;
    position: relative;
    width: 100%;
}

.c-site-header__nav {
    align-items: center;
    display: flex;
    flex-grow: 1;
}
.c-site-header__nav:last-of-type {
    justify-content: flex-end;
}

.c-site-header__link {
    color: $color-white;
    display: inline-block;
    font-size: rem(14px);
    position: relative;
    text-transform: uppercase;
    z-index: 2;
}
.c-site-header__link:hover,
.c-site-header__link:focus,
.c-site-header__link--active {
    color: theme-color(tertiary, headings);
}

.c-site-header__link:not(:first-of-type) {
    margin-left: $global-spacing;
}

.c-site-header__link--logo {
    height: 23px;
    overflow: hidden;
    width: $site-header-logo-width;
}
.c-site-header .c-logo {
    fill: theme-color(light, text);
    height: auto;
    margin-top: -12px;
    position: absolute;
    top: 50%;
    vertical-align: text-bottom;
    width: $site-header-logo-width;
}

.c-site-header__link--cart {
    display: flex;
    position: relative;

    &::after {
        display: none;
    }

    > svg {
        height: 25px;
        transition: $global-transition;
        width: 20px;
    }
}

.c-site-header__link--cart.u-hide\@tablet {
    position: absolute;
    right: rem($global-spacing);
}

.c-site-header__badge {
    align-items: center;
    background-color: $color-secondary;
    border-radius: 50%;
    color: $color-white;
    display: flex;
    font-size: rem(11px);
    height: rem(17px);
    line-height: 1;
    left: -50%;
    min-width: rem(17px);
    justify-content: center;
    position: absolute;
    top: -5%;
    transition: $global-transition;
}
.c-site-header__link--cart:hover .c-site-header__badge,
.c-site-header__link--cart:focus .c-site-header__badge {
    transform: scale(1.3);
}

.c-site-header.u-is-stuck,
.c-site-header:hover,
.c-site-header:focus {
    background-color: theme-color(light, background);
    box-shadow: 0 0 30px rgba($color-grey-dark, 0.3);
    transition: all 0.2s ease-in-out;
    will-change: opacity;

    .c-site-header__link {
        color: theme-color(light, links);
    }

    .c-site-header__link--cart path {
        fill: theme-color(light, links);
        stroke: theme-color(light, links);
    }

    .s-overlay-visible & {
        background-color: theme-color(tertiary, background);
        box-shadow: none;
    }
}

.c-site-header--hide-logo {
    background-color: transparent;

    .c-site-header__link {
        color: $color-white;
    }

    .c-site-header__link--cart path {
        fill: $color-white;
        stroke: $color-white;
    }

    .c-site-header__nav:first-of-type {
        transform: translateX(#{$site-header-nav-offset * -1});
    }
}

.c-site-header__link--sub-nav {
    padding-right: rem(18px);
}
.c-site-header__link--sub-nav::before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='5' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.05666 5L4 1.9083.94334 5 0 4.04587 4 0l4 4.04587z' fill='%23487B5A' fill-rule='evenodd'/%3e%3c/svg%3e ");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    content: '';
    height: 100%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-55%) rotate(-180deg);
    transition: $global-transition;
    width: rem(8px);
}
.c-site-header__link--sub-nav:hover::before,
.c-site-header__link--sub-nav:focus::before {
    transform: translateY(-55%) rotate(0deg);
}

.c-site-header__sub-nav {
    background-color: $color-white;
    box-shadow: 0 14px 24px rgba($color-black, 0.1);
    left: 0;
    opacity: 0;
    padding: rem($global-spacing-large);
    position: absolute;
    top: calc(#{rem($site-header-height)} - #{rem(26px)});
    transform: translateY(#{$global-spacing-large * -1});
    transition: $global-transition;
    width: 100%;
    visibility: hidden;
    z-index: 1;
}
.c-site-header__link--sub-nav:hover + .c-site-header__sub-nav,
.c-site-header__link--sub-nav:focus + .c-site-header__sub-nav,
.c-site-header__sub-nav:hover {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

@include mq($until: $site-header-mobile-nav-breakpoint) {
    .c-site-header__link--logo,
    .c-site-header__link--logo svg {
        left: 50% !important;
        opacity: 1 !important;
        position: absolute;
        transform: translateX(-50%) !important;
    }

    .c-site-header--hide-logo:not(.u-is-stuck) .c-site-header__link--logo {
        opacity: 0 !important;
        visibility: hidden;
    }

    .s-overlay-visible .c-site-header__link--logo {
        opacity: 1 !important;
        transform: translateX(-50%) !important;
    }

    .c-site-header__nav {
        display: none;
    }
}

@include mq($from: $site-header-mobile-nav-breakpoint) {
    .c-site-header__link--logo {
        margin-right: 34px;
    }

    .c-site-header--hide-logo {
        .c-site-header__link--logo {
            visibility: hidden;
        }
        .c-logo {
            position: absolute;
            transform: translateX(-100%);
        }

        .c-site-header__sub-nav {
            transform: translateX(#{$global-spacing-large * -1})
                translateY(#{$global-spacing-large * -1});
            width: 100vw;
        }
        .c-site-header__link--sub-nav:hover + .c-site-header__sub-nav,
        .c-site-header__link--sub-nav:focus + .c-site-header__sub-nav,
        .c-site-header__sub-nav:hover {
            transform: translateX(#{$global-spacing * -1}) translateY(0) !important;
        }

        &:not(.u-is-stuck) {
            .c-site-header__link--sub-nav::before {
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='5' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.05666 5L4 1.9083.94334 5 0 4.04587 4 0l4 4.04587z' fill='%23fff' fill-rule='evenodd'/%3e%3c/svg%3e ");
            }
        }

        &.u-is-stuck {
            .c-site-header__nav:first-of-type {
                transform: translateX(34px);
            }

            .c-site-header__link--logo {
                visibility: visible;
            }
            .c-logo {
                transform: translateX(0);
            }

            .c-site-header__sub-nav {
                transform: translateX(#{($site-header-nav-offset + $global-spacing-large) * -1})
                    translateY(#{$global-spacing-large * -1}) !important;
            }
            .c-site-header__link--sub-nav:hover + .c-site-header__sub-nav,
            .c-site-header__link--sub-nav:focus + .c-site-header__sub-nav,
            .c-site-header__sub-nav:hover {
                transform: translateX(#{($site-header-nav-offset + $global-spacing-large) * -1})
                    translateY(0) !important;
            }
        }

        &:hover .c-site-header__link--sub-nav::before,
        &:focus .c-site-header__link--sub-nav::before,
        .c-site-header__link--sub-nav:hover::before,
        .c-site-header__link--sub-nav:focus::before {
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='5' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.05666 5L4 1.9083.94334 5 0 4.04587 4 0l4 4.04587z' fill='%23487B5A' fill-rule='evenodd'/%3e%3c/svg%3e ");
        }
    }

    .c-site-header__wrapper {
        height: $site-header-height;
    }

    .c-site-header .c-hamburger {
        display: none;
    }
}
