.c-statement-video {
    // background-color: $color-gin;
    min-height: 300px;
    padding: $global-spacing;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.c-statement-video__video,
.c-statement-video__video-bg {
    height: 100%;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: $global-transition;
    width: 100%;
    z-index: 2;
}

@supports (object-fit: cover) {
    .c-statement-video__video,
    .c-statement-video__video-bg {
        object-fit: cover;
    }
}

.c-statement-video__video-bg {
    background-size: cover;
    background-position: center center;
    height: 100%;
    opacity: 1;
}

.c-statement-video__video.is-active {
    opacity: 1;
}

.c-statement-video__text {
    position: relative;
    z-index: 2;
}

.c-statement-video__title {
    left: 50%;
    // margin-top: rem(-50px);
    max-height: rem(220px);
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    z-index: 2;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    max-width: 80%;
}

@include mq($until: mobile) {
    .c-statement-video__video {
        display: none;
    }
}

@include mq($from: mobile) {
    .c-statement-video {
        min-height: 480px;
    }

    // .c-statement-video__video-bg {
    //     height: 0;
    //     padding-bottom: 56.25%;
    // }
}

@include mq($from: mobileSmall) {
    .c-statement-video__title {
        @include inuit-font-size($inuit-font-size-h1);
        @include rem(max-height, 350px);
        @include rem(max-width, 650px);
    }
}

@include mq($from: tablet) {
    .c-statement-video {
        min-height: 600px;
    }
}

@media (min-width: #{rem(map-get($mq-breakpoints, mobileSmall))}) and (-ms-high-contrast:none) {
    .c-statement-video__video {
        height: auto;
        width: 100%;
    }
    .c-statement-video__video-bg {
        height: 100%;
        width: 100%;
    }
}
