$svg-colors: white;
$svg-sizes: 18;

.c-svg {
    height: $global-spacing;
    width: $global-spacing;
}

@each $svg-color in $svg-colors {
    .c-svg--#{$svg-color},
    .c-svg--#{$svg-color} * {
        fill: $svg-color;
    }
}

@each $svg-size in $svg-sizes {
    .c-svg--w#{$svg-size} {
        height: #{$svg-size}px;
        width: #{$svg-size}px;
    }
}
