$table-element-padding: $global-spacing-small;
$table-element-padding--body: $global-spacing;

.c-table__row {
    border-bottom: 1px solid $color-grey-light;
}
.c-table__row > td {
    @include rem(padding-bottom, $table-element-padding);
    @include rem(padding-top, $table-element-padding);
}

.c-table__body > .c-table__row > td {
    @include rem(padding-bottom, $table-element-padding--body);
    @include rem(padding-top, $table-element-padding--body);
}

.c-table__row--borderless {
    border-bottom: 0;
}
.c-table__row--borderless > td {
    padding-bottom: 0;
}

.c-table__heading {
    @include rem(padding-bottom, $table-element-padding);
    @include rem(padding-top, $table-element-padding);
    text-align: left;
}
.c-table__row--headings {
    border-bottom-width: 2px;
}

@include mq($until: mobile) {
    .c-table {
        display: block;
    }

    .c-table__body .c-table__row,
    .c-table__body td {
        display: flex;
        flex: 0 0 100%;
        flex-wrap: wrap;
        width: 100%;
    }

    .c-table__row--headings {
        display: none;
    }

    .c-table__body td {
        display: flex;
        flex: 0 0 100%;
        width: 100%;
    }

    .c-table__body td[data-label] {
        display: inline-block;
        padding-top: 0;
        flex: 0 0 20%;
        width: auto;
    }
    .c-table__body td[data-label]::before {
        @include inuit-font-size(12px, false);
        color: $color-grey;
        content: attr(data-label);
        font-family: $global-font-family-bold;
        margin-right: $global-spacing-tiny;
        text-transform: uppercase;
    }
    .c-table__body td[data-label]:nth-child(n + 2) {
        margin-left: $global-spacing-small;
    }
}
