.c-text-dividers {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.c-text-dividers__text {
    display: block;
}
.c-text-dividers__text > svg {
    vertical-align: middle;
}

@include mq($until: mobile) {
    .c-text-dividers__text {
        flex: 0 0 100%;
    }
    .c-text-dividers__text--small {
        flex: 0 0 50%;
    }
    .c-text-dividers__text--small {
        padding-right: rem($global-spacing-tiny);
        text-align: right;
    }
    .c-text-dividers__text--small:last-of-type {
        padding-left: rem($global-spacing-tiny);
        text-align: left;
    }
}

@include mq($from: mobile) {
    .c-text-dividers__text {
        display: inline-block;
        padding-left: rem($global-spacing-small);
        padding-right: rem($global-spacing-small);
        position: relative;

        &::before {
            background-color: currentColor;
            content: '';
            height: 130%;
            opacity: 0.2;
            left: 0;
            top: -15%;
            position: absolute;
            width: 1px;
        }
    }

    .c-text-dividers__text:first-child {
        padding-left: 0;

        &::before {
            display: none;
        }
    }
}
