.c-text-cta {
    @include inuit-font-size(14px, false);
    color: $color-secondary;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
}
.c-text-cta::after {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMzIgMzIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTIxIDE2bC05IDltMC0xOGw5IDkiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2NmYWE3NiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiLz48L3N2Zz4=);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    content: '';
    height: 100%;
    margin-left: $global-spacing-tiny;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    transition: $global-transition;
    width: 16px;
}
.c-text-cta:hover::after,
.c-text-cta:focus::after {
    transform: translateY(-60%) translateX(#{$global-spacing-tiny / 2});
}
