{%- for block in section.blocks -%}
    {%- if block.settings.article_handle == article.handle -%}
        {%- assign article_content = block.settings -%}
    {%- endif -%}
{%- endfor -%}

<div class="c-page-header c-page-header--flush c-page-header--small t-tertiary">
    <div class="o-wrapper o-wrapper--offset-flush2 c-back-button-container">
        {% include 'back-button', url:'/blogs/our-universe', label:'See all posts' %}
    </div>
</div>

<section class="o-section o-wrapper o-wrapper--offset-flush2">
    <nav class="u-mb u-flex u-hide">
        <a href="{{ blog.url }}" class="u-flex-grow-1">Back</a>

        {%- if blog.previous_article != nil or blog.next_article != nil -%}
            {%- if blog.next_article != nil -%}
                <a href="{{ blog.next_article }}">Newer post</a>
                {%- if blog.previous_article != nil -%}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                {%- endif -%}
            {%- endif -%}
            {%- if blog.previous_article != nil -%}
                <a href="{{ blog.previous_article }}">Older post</a>
            {%- endif -%}
        {%- endif -%}
    </nav>

    <div class="o-layout o-layout--large u-stack-layout@mobile u-flex@mobile">
        <div class="o-layout__item u-7/12@mobile u-relative">
            <div class="js-carousel" data-carousel-mobile="true" data-carousel-options="menus">
                <img src="{{ article.image | img_url: '700x700', crop: 'center' }}" srcset="{{ article.image | img_url: '700x700', crop: 'center', scale:2 }} 2x" alt="{{ article.title }}" class="u-1/1">
            </div>
        </div><div class="o-layout__item u-5/12@mobile u-flex@mobile u-flex-direction-column u-justify-center u-pv+@mobile c-page-header-col-offset">
            <div class="u-pl@mobile u-mt@mobile c-animated-content js-monitor">
                <h1 class="u-heading u-h2 u-mb u-ph0" data-order="1">{{ article.title }}</h1>

                <div class="s-wysiwyg" data-order="2">{{ article.content }}</div>
            </div>
        </div>
    </div>
</section>

<div class="u-mv">
    <hr class="u-hr">
</div>

<section class="o-wrapper o-section">
    <h3 class="u-heading u-heading--caps u-h3 u-mb u-text-align-center c-animated-item js-monitor">Latest <span>posts</span></h3>

    <div class="o-layout o-layout--large u-stack-layout@mobile c-layout-carousel js-carousel" data-carousel-mobile="true" data-carousel-options="layoutItems">
        {%- assign counter = 0 -%}
        {%- for related_article in blogs.our-universe.articles limit:4 -%}{%- if article.id != related_article.id -%}{%- assign counter = counter | add:1 -%}<!--
        --><div class="o-layout__item u-4/12@mobile t-light c-animated-content js-monitor">
            {% include 'journal-card', title:related_article.title, url:related_article.url, image:related_article.image, excerpt:related_article.excerpt %}
        </div><!--
        -->{%- if counter == 3 -%}{%- break -%}{%- endif -%}{%- endif -%}{%- endfor -%}
    </div>
</section>

{{ 'carousel.css' | asset_url | stylesheet_tag }}
<script src="{{ 'carousel.js' | asset_url }}" async defer></script>

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Article",
    "about": "{{ article.snippet | strip_html | strip_newlines }}",
    "headline": "{{ article.title }}",
    "mainEntityOfPage": "{{ shop.url }}{{ article.url }}",
    "image": {
        "@type": "ImageObject",
        "url": "{{ article.image | img_url: '1000x800' }}",
        "width": 1000,
        "height": 800
    },
    "url": "{{ shop.url }}{{ article.url }}",
    "datePublished": "{{ article.published_at }}",
    "dateCreated": "{{ article.created_at }}",
    "articleBody": "{{ article.body | strip_html | strip_newlines }}",
    "author": {
        "@type": "Person",
        "name": "{{ article.author }}"
    },
    "publisher": {
        "@type": "Organization",
        "name": "{{ shop.name }}"
    }
}
</script>

{% schema %}
{
    "name": "Article content",
    "blocks": [
        {
            "name": "Content",
            "type": "object",
            "settings": [
                {
                    "type": "article",
                    "id": "article_handle",
                    "label": "Article"
                },
                {
                    "type": "product",
                    "id": "related_product_1_handle",
                    "label": "Related product #1"
                },
                {
                    "type": "text",
                    "id": "related_product_1_label",
                    "label": "Related product #1 CTA label"
                },
                {
                    "type": "product",
                    "id": "related_product_2_handle",
                    "label": "Related product #2"
                },
                {
                    "type": "text",
                    "id": "related_product_2_label",
                    "label": "Related product #2 CTA label"
                }
            ]
        }
    ]
}
{% endschema %}
