{% include 'page-header', title:section.settings.hero_title, intro:section.settings.hero_text %}

{%- if blog.articles.size > 0 -%}
    {%- paginate blog.articles by 15 -%}
        {%- if paginate.current_page == 1 -%}
            <section class="o-section o-wrapper o-wrapper--offset-flush u-pb0">
                <div class="c-hero-content">
                    <a href="{{ blog.articles.first.url }}" class="c-hero-content__image-container c-animated-item u-in-viewport" data-animation="fade">
                        <div class="c-hero-content__image {% if blog.articles.first.image == blank %}u-image-placeholder{% endif %} u-image-hover" {% if blog.articles.first.image != blank %}style="background-image: url('{{ blog.articles.first.image | img_url: '600x600', crop: 'center' }}');"{% endif %}></div>
                    </a>
                    <div class="c-hero-content__content c-animated-content u-in-viewport">
                        <a href="{{ blog.articles.first.url }}">
                            <h3 class="u-heading u-mb-" data-order="2">{{ blog.articles.first.title }}</h3>
                        </a>
                        
                        {%- if blog.articles.first.excerpt.size > 0 -%}
                            <p data-order="3">{{ blog.articles.first.excerpt | strip_html | strip_newlines }}</p>
                        {%- else -%}
                            <p data-order="3">{{ blog.articles.first.content | strip_html | strip_newlines | truncate: 100 }}</p>
                        {%- endif -%}
                        
                        <a href="{{ blog.articles.first.url }}" class="c-text-cta u-font-size-12 u-mt-" data-order="4">Read more</a>
                    </div>
                </div>
            </section>
        {%- endif -%}

        <section class="o-section o-wrapper o-wrapper--large">
            <div class="o-layout o-layout--large o-layout--matrix">
                {%- for article in blog.articles -%}<!--
                --><div class="o-layout__item u-4/12@mobile {% if paginate.current_page == 1 and forloop.first == true %}u-hide{% else %} c-animated-content js-monitor{% endif -%}">
                    {% include 'journal-card', title:article.title, url:article.url, image:article.image, excerpt:article.excerpt %}
                </div><!--
            -->{%- endfor -%}
            </div>

            {%- if paginate.pages > 1 -%}
                <div class="u-mt+">
                    {% include 'pagination' %}
                </div>
            {%- endif -%}
        </section>
    {% endpaginate %}
{%- else -%}
    <section class="o-section o-wrapper o-wrapper--large u-text-align-center">
        <p>Sorry, there are no posts to show at this time. Please check back later.</p>
        <a href="/" class="c-button c-button--secondary">Go home</a>
    </section>
{%- endif -%}

{% schema %}
{
    "name": "Journal index page",
    "settings": [
        {       
            "type": "text",
            "id": "hero_title",
            "label": "Hero title",
            "default": "Our <span>universe</span>"
        },
        {
            "type": "textarea",
            "id": "hero_text",
            "label": "Hero text"
        }
    ]
}
{% endschema %}
