<div class="o-layout u-flex@mobile u-align-items-center c-animated-content js-monitor">
    <div class="o-layout__item u-8/12@mobile">
        <h2 class="u-heading u-heading--caps u-h2" data-order="1">
            {{ section.settings.title }}
        </h2>

        {%- if section.settings.text != blank -%}
            <p data-order="2">{{ section.settings.text | newline_to_br }}</p>
        {%- endif -%}
    </div><div class="o-layout__item u-4/12@mobile u-text-align-right@mobile">
        {%- if section.settings.cta_url != blank and section.settings.cta_label != blank -%}
            <a href="{{ section.settings.cta_url }}" class="c-button c-button--secondary u-mt u-mt0@mobile" data-order="3">
                {{ section.settings.cta_label }}
            </a>
        {%- endif -%}
    </div>
</div>

{% schema %}
{
    "name": "FAQ contact",
    "class": "o-section o-wrapper o-wrapper--medium",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Have more <span>questions</span>?"
        },
        {
            "type": "textarea",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "text",
            "id": "cta_label",
            "label": "CTA Label"
        },
        {
            "type": "url",
            "id": "cta_url",
            "label": "CTA URL"
        }
    ]
}
{% endschema %}
