{%- assign categories = 'General|The Restaurant|The Shop' | split: '|' -%}

{%- if template.suffix == 'faqs' -%}
    <section class="o-section o-wrapper o-wrapper--medium">
        {%- for category in categories -%}
            {%- assign category_index = forloop.index0 -%}
            <div class="{% if forloop.index < categories.size %}u-mb u-mb+@mobile{% endif %} c-animated-content js-monitor">
                <h2 class="u-heading u-mb u-font-weight-300" data-order="1">{{ category }}</h2>

                <ul class="o-list-bare">
                    {%- for block in section.blocks -%}
                        {%- if block.settings.category == category -%}
                            <li class="o-list-bare__item u-pb--" data-order="2">
                                {%- assign accordion_id = 'faq-' | append: category_index | append: forloop.index0 -%}
                                {%- assign accordion_title = block.settings.title -%}
                                {%- assign accordion_content = block.settings.content -%}
                                {% include 'accordion' %}
                            </li>
                        {%- endif -%}
                    {%- endfor -%}
                </ul>
            </div>
        {%- endfor -%}
    </section>
{%- elsif template == 'product' -%}
    {%- for block in section.blocks -%}
        <ul class="o-list-bare">
            {%- if block.settings.category == 'The Shop' -%}
                <li class="o-list-bare__item u-pb--" data-order="2">
                    {%- assign accordion_id = 'faq-' | append: category_index | append: forloop.index0 -%}
                    {%- assign accordion_title = block.settings.title -%}
                    {%- assign accordion_content = block.settings.content -%}
                    {% include 'accordion' %}
                </li>
            {%- endif -%}
        </ul>
    {%- endfor -%}
{%- endif -%}

{% schema %}
{
    "name": "FAQ",
    "blocks": [
        {
            "name": "Content",
            "type": "object",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "textarea",
                    "id": "content",
                    "label": "Content"
                },
                {
                    "type": "select",
                    "id": "category",
                    "label": "Category",
                    "options": [
                        {"value": "General", "label": "General"},
                        {"value": "The Restaurant", "label": "The Restaurant"},
                        {"value": "The Shop", "label": "The Shop"}
                    ]
                }
            ]
        }
    ]
}
{% endschema %}
