{%- for block in section.blocks -%}
    {%- if block.settings.page contains page.url or template.name == 'index' and block.settings.page == '/' -%}
        {%- assign banner_background_image = block.settings.background_photo -%}
        {%- assign banner_background_image_wide = block.settings.background_photo_wide -%}
        {%- assign banner_background_video = block.settings.background_video -%}
        {%- assign banner_theme = block.settings.colour_theme -%}
        {%- assign banner_title = block.settings.title -%}
        {%- assign banner_text = block.settings.text -%}
        {%- assign banner_show_copy = block.settings.show_copy -%}
        {% include 'hero-banner' %}
        {%- break -%}
    {%- endif -%}
{%- endfor -%}

{% schema %}
{
    "name": "Hero Banner",
    "blocks": [
        {
            "name": "Content",
            "type": "object",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "background_photo",
                    "label": "Background photo"
                },
                {
                    "type": "image_picker",
                    "id": "background_photo_wide",
                    "label": "Background photo (wide)"
                },
                {
                    "type": "url",
                    "id": "background_video",
                    "label": "Background video"
                },
                {
                    "type": "url",
                    "id": "page",
                    "label": "Page"
                },
                {
                    "type": "select",
                    "id": "colour_theme",
                    "label": "Colour theme",
                    "options": [
                        {"value": "light", "label": "Light"},
                        {"value": "dark", "label": "Dark"}
                    ],
                    "default": "dark"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "textarea",
                    "id": "text",
                    "label": "Text"
                },
                {
                    "type": "checkbox",
                    "id": "show_copy",
                    "label": "Show copy?",
                    "default": true
                }
            ]
        }
    ]
}
{% endschema %}
