{%- if blogs.our-universe.articles.size > 0 -%}
    <section class="o-section o-wrapper">
        {%- capture 'view_more_cta -%}
            {%- assign url = section.settings.cta_url -%}
            {%- assign label = section.settings.cta_label -%}
            {%- assign attributes = 'data-category="More stories" data-label="Home Journal teaser" data-order="2"' -%}
            {% include 'secondary-cta-button' %}
        {%- endcapture -%}

        <div class="u-flex@mobile u-mb u-align-items-center c-animated-content js-monitor">
            <div class="u-max-w-500px">
                <h2 class="u-heading u-heading--caps u-text-align-center u-text-align-left@mobile u-mb u-mb0@mobile u-color-primary" data-order="1">{{ section.settings.title }}</h2>

                {%- if section.settings.text != blank -%}
                    {{ section.settings.text }}
                {%- endif -%}
            </div>
            <div class="u-flex-grow-1 u-text-align-right u-show@mobile">
                {{ view_more_cta }}
            </div>
        </div>

        <div class="o-layout o-layout--large u-stack-layout@mobile u-text-align-left c-layout-carousel js-carousel" data-carousel-mobile="true" data-carousel-options="layoutItems" data-carousel-type="journal-teaser">
            {%- for article in blogs.our-universe.articles limit: 3 -%}<!--
            --><div class="o-layout__item u-4/12@mobile t-light c-animated-content js-monitor">
                {% include 'journal-card', title:article.title, url:article.url, image:article.image, excerpt:article.excerpt %}
            </div><!--
            -->{%- endfor -%}
        </div>

        <div class="u-mt+ u-mt@mobile u-text-align-center u-hide@mobile">
            {{ view_more_cta }}
        </div>
    </section>
{%- endif -%}

{% schema %}
{
    "name": "Home Journal teaser",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "url",
            "id": "cta_url",
            "label": "CTA URL"
        },
        {
            "type": "text",
            "id": "cta_label",
            "label": "CTA label"
        },
        {
            "type": "text",
            "id": "read_more_label",
            "label": "Read more label",
            "default": "Read more"
        }
    ]
}
{% endschema %}
