<div class="o-section o-wrapper">
    <div class="o-layout o-layout--large o-layout--reverse@mobile u-stack-layout@mobile u-flex@mobile u-align-items-center">
        <div class="o-layout__item u-5/12@mobile u-text-align-center u-text-align-left@mobile c-animated-content js-monitor">
            <h2 class="u-heading u-heading--caps u-mb" data-order="1">{{ section.settings.title }}</h2>
            <p class="u-body--caps" data-order="2">{{ section.settings.text }}</p>

            {% include 'secondary-cta-button', url:section.settings.cta_url, label:section.settings.cta_label, attributes: ' data-order="3"' %}
        </div><div class="o-layout__item u-7/12@mobile">
            <img src="{{ section.settings.image | img_url: '450x' }}" alt="" srcset="{{ section.settings.image | img_url: '450x', scale:2 }} 2x" data-order="3" data-animation="fade">
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Home Our Story teaser",
    "class": "t-tertiary",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "textarea",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "url",
            "id": "cta_url",
            "label": "CTA URL"
        },
        {
            "type": "text",
            "id": "cta_label",
            "label": "CTA label"
        }
    ]
}
{% endschema %}
