<div class="u-flex@mobile u-mb">
    <h2 class="u-heading u-mb">{{ section.settings.title }}</h2>
    {%- if section.settings.text != blank -%}
        <div>{{ section.settings.text }}</div>
    {%- endif -%}
    <div class="u-flex-grow-1 u-text-align-right">
        {%- assign url = section.settings.cta_url -%}
        {%- assign label = section.settings.cta_label -%}
        {%- assign attributes = 'target="noopener" data-category="Follow us" data-label="Instagram feed"' -%}
        {% include 'primary-cta-button' %}
    </div>
</div>

<ul class="o-list-inline o-list-inline--tiny c-image-feed__list">
    {%- for block in section.blocks -%}
        <li class="o-list-inline__item c-image-feed__item u-pt0 u-ml0">
            <a href="{{ block.settings.photo_url }}" target="noopener" aria-label="View the photo on Instagram"  style="background-image: url('{{ block.settings.photo_url }}media/?size=m');" class="u-lazyload u-fade-intersected js-monitor"></a>
        </li>
    {%- endfor -%}
</ul>

{% schema %}
{
    "name": "Instagram feed",
    "class": "o-section o-wrapper",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "url",
            "id": "cta_url",
            "label": "CTA URL"
        },
        {
            "type": "text",
            "id": "cta_label",
            "label": "CTA Label"
        }
    ],
    "blocks": [
        {
            "name": "Photos",
            "type": "object",
            "limit": 6,
            "settings": [
                {
                    "type": "url",
                    "id": "photo_url",
                    "label": "Photo URL",
                    "info": "The URL should look like this 'https://www.instagram.com/p/BlF7cLmhMIt/', make sure there is nothing else at the end of the URL after the last '/'"
                }
            ]
        }
    ]
}
{% endschema %}
