<div class="o-section o-wrapper">
    <div class="u-max-w-550px u-mh-auto u-text-align-center c-animated-content js-monitor">
        <img src="{{ 'moon-transition-illustration.png' | asset_img_url: 'x64' }}" srcset="{{ 'moon-transition-illustration.png' | asset_img_url: 'x64', scale:2 }} 2x" alt="" class="u-mb-" data-order="1" data-animation="fade">

        <h2 class="u-heading u-heading--caps u-mb" data-order="2">{{ section.settings.title }}</h2>
        
        {%- if section.settings.text -%}
            <p>{{ section.settings.text }}</p>
        {%- endif -%}

        <form action="{{ section.settings.form_post_url }}" method="post" data-order="3">
            <div class="c-form c-form--row">
                <input type="email" id="email" name="{{ settingssection.settings.email_field_name }}" placeholder="Your email address" class="c-form__input u-align-right@mobile u-1/1" required aria-label="Your email address">
                <label for="email" class="c-form__label c-form__label--float">Your email</label>

                <input type="hidden" name="{{ section.settings.form_key }}">

                <button type="submit" class="c-form__button c-button c-button--secondary">
                    Subscribe
                </button>
            </div>
            
            <div class="u-relative u-mt u-mh-auto" style="max-width: 185px;">
                <input type="checkbox" id="newsletter-consent" class="c-form__checkbox u-mr--" name="{{ settings.mailchimp_newsletter_consent_field_name }}" required>
                <label class="c-form__label c-form__label--checkbox" for="newsletter-consent">I agree to the T&Cs</label>
            </div>
        </form>
    </div>
</div>

{% schema %}
{
    "name": "Newsletter signup",
    "class": "t-tertiary",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "url",
            "id": "form_post_url",
            "label": "Form post URL"
        },
        {
            "type": "text",
            "id": "form_key",
            "label": "Form key"
        },
        {
            "type": "text",
            "id": "email_field_name",
            "label": "Email field name"
        },
        {
            "type": "text",
            "id": "checkbox_field_name",
            "label": "Checkbox field name"
        },
        {
            "type": "text",
            "id": "checkbox_label",
            "label": "Checkbox label",
            "default": "I accept the <a href='/pages/terms-conditions'>terms and conditions</a>"
        }
    ]
}
{% endschema %}
