{%- if section.settings.title != blank and section.blocks.size > 0 -%}
    <section class="o-section o-wrapper u-text-align-center">
        <h3 class="u-heading u-heading--caps u-h3 u-mb c-animated-item js-monitor">{{ section.settings.title }}</h3>

        <div class="o-layout o-layout--large u-stack-layout@mobile">
            {%- for block in section.blocks -%}<!--
            --><div class="o-layout__item u-4/12@mobile t-light c-animated-content js-monitor">
                <img src="{{ block.settings.image | img_url:'x800' }}" srcset="{{ block.settings.image | img_url:'x800', scale:2 }} 2x" alt="" class="u-1/1 u-mb" data-order="1" data-animation="fade">

                <h3 class="u-heading u-h4" data-order="2">{{ block.settings.title }}</h3>
                <p data-order="3">{{ block.settings.text }}</p>
            </div><!--
            -->{%- endfor -%}
        </div>
    </div>
{%- endif -%}

{% schema %}
{
    "name": "Our Foundation facts",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "<span>Facts</span>"
        }
    ],
    "blocks": [
        {
            "name": "Facts",
            "type": "object",
            "limit": 3,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "textarea",
                    "id": "text",
                    "label": "Text"
                }
            ]
        }
    ]
}
{% endschema %}
