<section class="o-section o-wrapper">
    {%- for block in section.blocks -%}
        {% include 'flex-image-text-block', title:block.settings.title, text:block.settings.text, image:block.settings.image, subtitle:block.settings.subtitle, image_size:block.settings.image_size %}

        {%- unless forloop.last -%}
            <div class="u-mb u-mb+"></div>
        {%- endunless -%}
    {%- endfor -%}
</section>

{% schema %}
{
    "name": "Our Foundation cases",
    "class": "t-tertiary",
    "blocks": [
        {
            "name": "Case studies",
            "type": "object",
            "limit": 10,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "text",
                    "id": "subtitle",
                    "label": "Subtitle"
                },
                {
                    "type": "textarea",
                    "id": "text",
                    "label": "Text"
                },
                {
                    "type": "url",
                    "id": "cta_url",
                    "label": "CTA URL"
                },
                {
                    "type": "text",
                    "id": "cta_label",
                    "label": "CTA label"
                }
            ]
        }
    ]
}
{% endschema %}
