<h3 class="u-heading u-heading--caps u-h3 u-mb u-display-block u-text-align-center">{{ section.settings.title }}</h3>

{% include 'contact-form' -%}

{% schema %}
{
    "name": "Our Foundation contact",
    "class": "o-section o-wrapper u-max-w-650px",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        }
    ]
}
{% endschema %}
