<h2 class="u-heading u-h3 u-heading--caps u-text-align-center u-mb u-hide@mobile" data-order="1">{{ section.settings.title }}</h2>

<div class="o-layout o-layout--large">
    <div class="o-layout__item u-1/1@mobile">
        <img src="{{ section.settings.image | img_url: '1200x' }}" alt="" srcset="{{ section.settings.image | img_url: '1800x' }} 2x" class="u-1/1 u-mb u-mb+@mobile" data-order="2" data-animation="fade">
    </div><div class="o-layout__item u-5/12@mobile">
        <span class="u-heading u-h3 u-heading--caps u-mb u-display-block u-show@mobile c-animated-item js-monitor" aria-hidden="true" data-order="1">{{ section.settings.title }}</span>
    </div><div class="o-layout__item u-7/12@mobile">
        <p data-order="3">{{ section.settings.text | newline_to_br }}</p>
    </div>
</div>

{% schema %}
{
    "name": "Our Story team",
    "class": "o-section o-wrapper t-tertiary c-animated-content js-monitor",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle"
        },
        {
            "type": "textarea",
            "id": "text",
            "label": "Text"
        }
    ]
}
{% endschema %}
