{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- for block in section.blocks -%}
    {%- if block.settings.product_handle == product.handle -%}
        {%- assign product_content = block.settings -%}
    {%- endif -%}
{%- endfor -%}

<div class="c-page-header c-page-header--flush c-page-header--small t-tertiary">
    <div class="o-wrapper o-wrapper--offset-flush2 c-back-button-container">
        {% include 'back-button', url:'/products', label:'See all products' %}
    </div>
</div>

<section class="o-section o-wrapper o-wrapper--offset-flush2">
    <div data-sticky-container>
        <form action="/cart/add" method="post" enctype="multipart/form-data" class="c-product c-product--{{ product.type | handle }} u-m0">
            <div class="o-layout o-layout--large u-stack-layout@mobile u-flex@mobile">
                <div class="o-layout__item u-7/12@mobile u-relative">
                    <div class="c-product__images js-carousel" data-carousel-mobile="true" data-carousel-options="products">
                        {%- for image in product.images -%}
                            <img src="{{ image | img_url: '800x' }}" srcset="{{ image | img_url: '800x', scale:2 }} 2x" alt="" class="c-product__image c-animated-item js-monitor js-product-image {% unless forloop.last %}u-mb@mobile{% endunless %} {% unless forloop.first %}u-show@mobile{% endunless %}">
                        {%- endfor -%}
                    </div>
                </div><div class="o-layout__item u-5/12@mobile u-flex@mobile u-flex-direction-column u-justify-center u-pv+@mobile c-page-header-col-offset c-animated-content js-monitor">
                    <div class="u-mt@mobile js-sticky u-pl@tablet" data-sticky-class="is-stuck" data-margin-top="100">
                        <h1 class="u-heading u-pl0" data-order="1">{{ product.title }}</h1>
                    
                        <div class="u-h5 u-color-secondary" data-order="2">
                            {%- if product.type != blank -%}
                                {{ product.type }} &mdash;&nbsp;
                            {%- endif -%}
                            <div class="u-display-inline-block">
                                {% include 'product-price', price:product.price %}
                            </div>
                        </div>

                        <p class="u-mv" data-order="3">{{ product.description | newline_to_br }}</p>
                        
                        {%- unless product.has_only_default_variant -%}
                            <div class="u-flex u-justify-content-flex-end" data-order="4">
                                <label for="id" class="u-hide u-label u-color-como u-flex-grow-1">{{ product.options_with_values.first.name }}</label>
                            </div>

                            <div class="custom-select custom-select--center custom-select--product u-mb-" data-order="4">
                                <select name="id" class="js-variant-select">
                                    {%- for variant in product.variants -%}
                                        <option {% if variant == current_variant %}selected="selected"{% endif %} {% unless variant.available %}disabled="disabled"{% endunless %} value="{{ variant.id }}">
                                            {{ variant.title }}
                                        </option>
                                    {%- endfor -%}
                                </select>
                            </div>
                            {% comment %}
                            <div class="c-button-list c-button-list--small u-mb-">
                                {%- for variant in product.variants -%}
                                    <button type="button" class="c-button c-button--small c-button--selectable u-flex-grow-1 {% if variant == current_variant %}c-button--selected{% endif %} js-variant-button" {% unless variant.available %}disabled="disabled" aria-label="Not available" title="Not available"{% endunless %} data-variant-id="{{ variant.id }}">
                                        {{ variant.title }}
                                    </button>
                                {%- endfor -%}
                            </div>
                            {% endcomment %}
                        {%- else -%}
                            <input type="hidden" name="id" value="{{ product.variants[0].id }}">
                        {%- endunless -%}

                        <input type="hidden" id="Quantity" name="quantity" value="1" min="1" class="js-variant-quantity">
                        <button type="submit" class="c-button c-button--secondary u-display-block u-1/1 js-add-to-cart" {% unless current_variant.available %}disabled="disabled"{% endunless %} data-product-handle="{{ product.handle }}" data-variant-id="{{ current_variant.id }}" data-price="{{ product.price }}" data-source="product hero" data-quantity="1" data-order="5">
                            {%- if current_variant.available -%}
                                {{ 'products.product.add_to_cart' | t }}
                            {%- else -%}
                                {{ 'products.product.sold_out' | t }}
                            {%- endif -%}
                        </button>
                        
                        <div class="c-text-dividers u-mt- u-justify-content-center" data-order="6">
                            {%- for link in linklists.product-information.links -%}
                                <a href="{{ link.url }}" class="c-text-dividers__text u-color-secondary u-font-size-14 js-modal-open js-modal-tab" data-modal="product-information" data-tab-index="{{ forloop.index0 }}">{{ link.title }}</a>
                            {%- endfor -%}
                        </div>

                        {%- if product_content.features != blank -%}
                            <div class="u-mt">
                                {%- assign product_features = product_content.product_features | newline_to_br | split: '<br />' -%}
                                {%- if product_features.size -%}
                                    <h5 class="u-heading">Features:</h5>
                                    <ul>
                                        {%- for product_feature in product_features -%}
                                            <li>{{ product_feature }}</li>
                                        {%- endfor -%}
                                    </ul>
                                {%- endif -%}
                            </div>
                        {%- endif -%}
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

{%- if product_content.video_embed_code != blank -%}
    <section class="o-section u-pt">
        <div class="o-wrapper o-wrapper--large">
            {% include 'youtube-video', embed_code:product_content.video_embed_code %}
        </div>
    </section>
{%- endif -%}

{%- if product_content.quote_1 != blank or product_content.quote_2 != blank or product_content.quote_3 != blank or product_content.quote_4 != blank -%}
    <section class="o-section t-tertiary">
        <div class="o-wrapper">
            <div class="js-carousel" data-carousel-options="quotes">
                {%- if product_content.quote_1 != blank -%}
                    <blockquote class="c-quote u-pv u-mb u-1/1">
                        <svg class="u-mb" width="16" height="14" xmlns="http://www.w3.org/2000/svg"><path d="M16 7.784h-3.5V6.397c0-2.052 1.063-3.44 3.063-3.742V0C12.687.241 9.75 2.293 9.75 6.397V14H16V7.784zm-13.313 0V6.397c0-2.052 1.126-3.44 3.126-3.742V0C2.938.241 0 2.293 0 6.397V14h6.25V7.784H2.687z" fill="#204b4a" fill-rule="evenodd"/></svg>

                        <p class="c-quote__body">{{ product_content.quote_1 }}</p>
                        <footer class="c-quote__footer">{{ product_content.quotee_1 }}</footer>
                    </blockquote>
                {%- endif -%}
                {%- if product_content.quote_2 != blank -%}
                    <blockquote class="c-quote u-pv u-mb u-1/1 u-hide">
                        <svg class="u-mb" width="16" height="14" xmlns="http://www.w3.org/2000/svg"><path d="M16 7.784h-3.5V6.397c0-2.052 1.063-3.44 3.063-3.742V0C12.687.241 9.75 2.293 9.75 6.397V14H16V7.784zm-13.313 0V6.397c0-2.052 1.126-3.44 3.126-3.742V0C2.938.241 0 2.293 0 6.397V14h6.25V7.784H2.687z" fill="#204b4a" fill-rule="evenodd"/></svg>

                        <p class="c-quote__body">{{ product_content.quote_2 }}</p>
                        <footer class="c-quote__footer">{{ product_content.quotee_2 }}</footer>
                    </blockquote>
                {%- endif -%}
                {%- if product_content.quote_3 != blank -%}
                    <blockquote class="c-quote u-pv u-mb u-1/1 u-hide">
                        <svg class="u-mb" width="16" height="14" xmlns="http://www.w3.org/2000/svg"><path d="M16 7.784h-3.5V6.397c0-2.052 1.063-3.44 3.063-3.742V0C12.687.241 9.75 2.293 9.75 6.397V14H16V7.784zm-13.313 0V6.397c0-2.052 1.126-3.44 3.126-3.742V0C2.938.241 0 2.293 0 6.397V14h6.25V7.784H2.687z" fill="#204b4a" fill-rule="evenodd"/></svg>

                        <p class="c-quote__body">{{ product_content.quote_3 }}</p>
                        <footer class="c-quote__footer">{{ product_content.quotee_3 }}</footer>
                    </blockquote>
                {%- endif -%}
                {%- if product_content.quote_4 != blank -%}
                    <blockquote class="c-quote u-pv u-mb u-1/1 u-hide">
                        <svg class="u-mb" width="16" height="14" xmlns="http://www.w3.org/2000/svg"><path d="M16 7.784h-3.5V6.397c0-2.052 1.063-3.44 3.063-3.742V0C12.687.241 9.75 2.293 9.75 6.397V14H16V7.784zm-13.313 0V6.397c0-2.052 1.126-3.44 3.126-3.742V0C2.938.241 0 2.293 0 6.397V14h6.25V7.784H2.687z" fill="#204b4a" fill-rule="evenodd"/></svg>

                        <p class="c-quote__body">{{ product_content.quote_4 }}</p>
                        <footer class="c-quote__footer">{{ product_content.quotee_4 }}</footer>
                    </blockquote>
                {%- endif -%}
            </div>
        </div>
    </section>
{%- endif -%}

{%- if product_content.related_product_1_handle != blank or product_content.related_product_2_handle != blank or product_content.related_product_3_handle != blank -%}
    <section class="o-section o-wrapper u-text-align-center">
        {%- assign related_products_title = product_content.related_products_title -%}
        {%- assign related_products = product_content.related_product_1_handle | append: ',' | append: product_content.related_product_2_handle | append: ',' | append: product_content.related_product_3_handle | split: ',' -%}
        {% include 'related-products' %}
    </section>
{%- endif -%}

<script type="application/ld+json">
{
    "@context": "http://schema.org/",
    "@type": "Product",
    "url": "{{ shop.url }}{{ current_variant.url }}",
    "name": "{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}",
    "image": "{{ product.featured_image | img_url: '600x600' }}",
    "description": "{{ product.description | strip_html | escape }}",
    "brand": {
        "name": "{{ shop.name }}"
    },
    "offers": [
        {%- if product.has_only_default_variant -%}
            {
                "@type": "Offer" ,
                "priceCurrency": "{{ shop.currency }}" ,
                "price": "{{ current_variant.price | divided_by: 100.00 }}" ,
                "availability": "http://schema.org/{%- if current_variant.available -%}InStock{%- else -%}OutOfStock{%- endif -%}" ,
                "itemCondition": "http://schema.org/NewCondition",
                "sku": "{{ current_variant.sku }}" ,
                "name": "{{ product.title }} - {{ current_variant.title }}",
                "url": "{{ shop.url }}{{ current_variant.url }}",
                "seller": {
                    "@type": "Organization" ,
                    "name": "{{ shop.name }}"
                }
            }
        {%- else -%}
            {%- for variant in product.variants -%}
                {
                    "@type": "Offer" ,
                    "priceCurrency": "{{ shop.currency }}" ,
                    "price": "{{ variant.price | divided_by: 100.00 }}" ,
                    "availability": "http://schema.org/{%- if variant.available -%}InStock{%- else -%}OutOfStock{%- endif -%}" ,
                    "itemCondition": "http://schema.org/NewCondition",
                    "sku": "{{ variant.sku }}" ,
                    "name": "{{ product.title }} - {{ variant.title }}",
                    "url": "{{ shop.url }}{{ variant.url }}",
                    "seller": {
                        "@type": "Organization" ,
                        "name": "{{ shop.name }}"
                    }
                }{%- unless forloop.last -%},{%- endunless -%}
            {%- endfor -%}
        {%- endif -%}
    ]
}
</script>
<script>window.globalData.product = {{ product | json }};</script>

{% schema %}
{
    "name": "Product content",
    "class": "u-relative",
    "blocks": [
        {
            "name": "Content",
            "type": "object",
            "settings": [
                {
                    "type": "product",
                    "id": "product_handle",
                    "label": "Product"
                },
                {
                    "type": "header",
                    "content": "Related products"
                },
                {
                    "type": "text",
                    "id": "related_products_title",
                    "label": "Related products title",
                    "default": "You may also <span>like</span>"
                },
                {
                    "type": "product",
                    "id": "related_product_1_handle",
                    "label": "Related product #1"
                },
                {
                    "type": "product",
                    "id": "related_product_2_handle",
                    "label": "Related product #2"
                },
                {
                    "type": "product",
                    "id": "related_product_3_handle",
                    "label": "Related product #3"
                },
                {
                    "type": "header",
                    "content": "Product quotess"
                },
                {
                    "type": "textarea",
                    "id": "quote_1",
                    "label": "Quote 1"
                },
                {
                    "type": "text",
                    "id": "quotee_1",
                    "label": "Quotee 1"
                },
                {
                    "type": "textarea",
                    "id": "quote_2",
                    "label": "Quote 2"
                },
                {
                    "type": "text",
                    "id": "quotee_2",
                    "label": "Quotee 2"
                },
                {
                    "type": "textarea",
                    "id": "quote_3",
                    "label": "Quote 3"
                },
                {
                    "type": "text",
                    "id": "quotee_3",
                    "label": "Quotee 3"
                },
                {
                    "type": "textarea",
                    "id": "quote_4",
                    "label": "Quote 4"
                },
                {
                    "type": "text",
                    "id": "quotee_4",
                    "label": "Quotee 4"
                },
                {
                    "type": "header",
                    "content": "Product featured video "
                },
                {
                    "type": "textarea",
                    "id": "video_embed_code",
                    "label": "YouTube video embed code"
                }
            ]
        }
    ]
}
{% endschema %}
