<header class="u-text-align-center">
    <h2 class="u-heading u-heading--caps u-mb">{{ section.settings.title }}</h2>
</header>
            
<div class="c-menu-container js-carousel" data-carousel-mobile="true" data-carousel-options="menus">
    {%- for block in section.blocks -%}
        {% include 'menu', title:block.settings.title, image:block.settings.image, text:block.settings.text, availability:block.settings.availability, pdf_url:block.settings.pdf_url, cta_label:section.settings.cta_label %}
    {%- endfor -%}
</div>

{% schema %}
{
    "name": "Room menus",
    "class": "o-section o-wrapper",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Our <span>Menus</span>"
        },
        {
            "type": "text",
            "id": "cta_label",
            "label": "Menus label",
            "default": "See menu"
        }
    ],
    "blocks": [
        {
            "name": "Menus",
            "type": "object",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "<span>Breakfast</span>"
                },
                {
                    "type": "text",
                    "id": "text",
                    "label": "Text"
                },
                {
                    "type": "text",
                    "id": "availability",
                    "label": "Availability"
                },
                {
                    "type": "url",
                    "id": "pdf_url",
                    "label": "PDF URL"
                }
            ]
        }
    ]
}
{% endschema %}
