{% include 'flex-image-text-block-mini', title:section.settings.title, text:section.settings.text, image:section.settings.image, cta_url:'tel:'|append: section.settings.phone_number, cta_label:section.settings.phone_number, cta_icon:'phone' %}

{% schema %}
{
    "name": "Room reservations",
    "class": "o-section o-wrapper",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        }   ,
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "<span>Reservations</span>"
        },
        {
            "type": "textarea",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "text",
            "id": "phone_number",
            "label": "Phone number"
        }
    ]
}
{% endschema %}
