{%- assign image_dimension = 'x700|x1400' | split:'|' -%}

{%- if page.handle == 'restaurants' -%}
    <section class="o-section o-wrapper">
        {%- for block in section.blocks -%}
            {%- assign restaurant_title = pages[block.settings.restaurant_page].title -%}
            {%- if block.settings.title != blank -%}
                {%- assign restaurant_title = block.settings.title -%}
            {%- endif -%}

            <header class="u-hide@mobile u-text-align-center u-mb">
                <a href="{{ pages[block.settings.restaurant_page].url }}">
                    <h2 class="u-heading u-heading--caps u-h1">{% include 'restaurant-title', title:restaurant_title %}</h2>
                </a>
                <div class="u-body--caps u-font-size-14 u-color-secondary u-mb">{{ block.settings.subtitle }}</div>
            </header>

            <div class="o-layout o-layout--large o-layout--reverse@mobile u-flex@mobile u-align-items-center c-animated-content js-monitor">
                <div class="o-layout__item u-6/12@mobile u-5/12@tablet u-text-align-center u-text-align-center">
                    {%- if pages[block.settings.restaurant_page].url != blank -%}
                        <a href="{{ pages[block.settings.restaurant_page].url }}" class="u-image-hover">
                    {%- endif -%}
                        <img src="{{ block.settings.image | img_url: image_dimension[0] }}" alt="" srcset="{{ block.settings.image | img_url: image_dimension[1] }} 2x" class="u-mb u-mb0@mobile u-1/1" data-order="1" data-animation="fade">
                    {%- if pages[block.settings.restaurant_page].url != blank -%}
                        </a>
                    {%- endif -%}
                </div><div class="o-layout__item u-6/12@mobile u-7/12@tablet">
                    <div class="u-max-w-500px">
                        <div class="u-show@mobile u-mb" aria-hidden="true" data-order="2">
                            {%- if pages[block.settings.restaurant_page].url != blank -%}
                                <a href="{{ pages[block.settings.restaurant_page].url }}" class="u-heading u-heading--caps u-h1 u-show@mobile u-mb" aria-hidden="true">
                                    {% include 'restaurant-title', title:restaurant_title %}
                                </a>
                            {%- else -%}
                                <span class="u-heading u-heading--caps u-h1 u-show@mobile u-mb" aria-hidden="true">{% include 'restaurant-title', title:restaurant_title %}</span>
                            {%- endif -%}
                        </div>
                        
                        {%- if block.settings.address != blank or block.settings.phone_number != blank -%}
                            <div class="c-text-dividers u-color-primary u-mb" data-order="3">
                                {%- if block.settings.address != blank -%}
                                    <span class="c-text-dividers__text">{{ block.settings.address }}</span>
                                {%- endif -%}
                                {%- if block.settings.phone_number != blank -%}
                                    <span class="c-text-dividers__text">{% include 'phone-icon' %}&nbsp; {{ block.settings.phone_number }}</span>
                                {%- endif -%}
                            </div>
                        {%- endif -%}

                        {%- if block.settings.text != blank -%}
                            <p data-order="4">{{ block.settings.text | newline_to_br }}</p>
                        {%- endif -%}

                        {%- if block.settings.restaurant_page != blank -%}
                            <div class="c-button-list" data-order="5">
                                <a href="{{ pages[block.settings.restaurant_page].url }}" class="c-button c-button--secondary">View more info</a>

                                {%- if block.settings.book_a_table_url -%}
                                    <a href="{{ block.settings.book_a_table_url }}" class="c-button c-button--secondary js-book-a-table" target="noopener">Book a table</a>
                                {%- endif -%}
                            </div>
                        {%- endif -%}
                    </div>
                </div>
            </div>

            {%- unless forloop.last -%}
                <div style="height: 100px;"></div>
            {%- endunless -%}
        {%- endfor -%}
    </section>
{%- endif -%}

<script>
window.globalData.restaurants = [
    {%- for block in section.blocks -%}
        {%- assign restaurant_title = pages[block.settings.restaurant_page].title -%}
        {%- if block.settings.title != blank -%}
            {%- assign restaurant_title = block.settings.title -%}
        {%- endif -%}
        {
            title: "{{ restaurant_title }}",
            photo: '{{ block.settings.image | img_url: image_dimension[0] }}',
            photoHiRes: '{{ block.settings.image | img_url: image_dimension[1] }}',
            description: "{{ block.settings.text | newline_to_br }}",
            url: '{{ pages[block.settings.restaurant_page].url }}',
            bookUrl: '{{ block.settings.book_a_table_url }}'
        }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
];
</script>

{% schema %}
{
    "name": "Restaurant list",
    "blocks": [
        {
            "name": "Restaurant",
            "type": "object",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "page",
                    "id": "restaurant_page",
                    "label": "Restaurant page",
                    "info": "The restaurant title will be pulled through from the page"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Restaurant name"
                },
                {
                    "type": "textarea",
                    "id": "text",
                    "label": "Introduction"
                },
                {
                    "type": "text",
                    "id": "phone_number",
                    "label": "Phone number"
                },
                {
                    "type": "text",
                    "id": "address",
                    "label": "Address"
                },
                {
                    "type": "url",
                    "id": "book_a_table_url",
                    "label": "Book a table URL"
                }
            ]
        }
    ]
}
{% endschema %}
