{% include 'flex-image-text-block', title:section.settings.title, text:section.settings.text, image:section.settings.image, subtitle:section.settings.subtitle, image_size:section.settings.image_size, cta_url:section.settings.cta_url, cta_label:section.settings.cta_label %}

{% schema %}
{
    "name": "Restaurant catering",
    "class": "o-section o-wrapper",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "select",
            "id": "image_size",
            "label": "Image size",
            "options": [
                {"value": "small", "label": "Small"},
                {"value": "medium", "label": "Medium"},
                {"value": "large", "label": "Large"}
            ],
            "default": "large"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "textarea",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "url",
            "id": "cta_url",
            "label": "CTA URL"
        },
        {
            "type": "text",
            "id": "cta_label",
            "label": "CTA label"
        }
    ]
}
{% endschema %}
