{% include 'statement-video', id:section.id, title:section.settings.title, title_image:section.settings.title_image, video_url:section.settings.video_url, video_image:section.settings.video_image, video_image_mobile:section.settings.video_image_mobile %}


{% schema %}
{
    "name": "Room video",
    "class": "o-section o-wrapper o-wrapper--huge u-ph0",
    "settings": [
        {
            "type": "image_picker",
            "id": "video_image",
            "label": "Video fallback image"
        },
        {
            "type": "image_picker",
            "id": "video_image_mobile",
            "label": "Video fallback image (mobile)"
        },
        {
            "type": "url",
            "id": "video_url",
            "label": "Video URL"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "image_picker",
            "id": "title_image",
            "label": "Title image"
        }
    ]
}
{% endschema %}
