<div class="o-section o-wrapper">
    <div class="o-layout o-layout--large o-layout--reverse@mobile u-stack-layout@mobile u-flex@mobile u-align-items-center c-animated-content js-monitor">
        <div class="o-layout__item u-5/12@mobile u-text-align-center u-text-align-left@mobile">
            <h2 class="u-heading u-heading--caps u-mb" data-order="1">{{ section.settings.title }}</h2>
            <p class="u-body--caps" data-order="2">{{ section.settings.text }}</p>

            <div data-order="3">
                <div class="u-label u-color-juniper">Monday - Friday</div>
                {{ section.settings.opening_monday_friday }}
            </div>

            <hr class="u-hr u-mv">

            <div data-order="4">
                <div class="u-label u-color-juniper">Saturday</div>
                {{ section.settings.opening_saturday }}
            </div>

            <hr class="u-hr u-mv">

            <div data-order="5">
                <div class="u-label u-color-juniper">Sunday</div>
                {{ section.settings.opening_sunday }}
            </div>
        </div><div class="o-layout__item u-7/12@mobile">
            <img src="{{ section.settings.image | img_url: '450x' }}" alt="" srcset="{{ section.settings.image | img_url: '450x', scale:2 }} 2x" data-order="1">
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Restaurant opening times",
    "class": "t-tertiary",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "<span>Opening</span> hours"
        },
        {
            "type": "text",
            "id": "opening_monday_friday",
            "label": "Monday - Friday hours",
            "default": "9am - 5pm / 6pm -10pm"
        },
        {
            "type": "text",
            "id": "opening_saturday",
            "label": "Saturday hours",
            "default": "9am - 4pm / 6pm -10pm"
        },
        {
            "type": "text",
            "id": "opening_sunday",
            "label": "Sunday hours",
            "default": "9am - 4pm / 6pm -9:30pm"
        }
    ]
}
{% endschema %}
