{% include 'page-intro', title:section.settings.title, text:section.settings.text, image:section.settings.image, image_position:section.settings.image_position %}

{% schema %}
{
    "name": "Restaurant intro",
    "class": "o-section o-wrapper",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Find our <span>world</span> in every <span>dish</span>"
        },
        {
            "type": "textarea",
            "id": "text",
            "label": "Text"
        }
    ]
}
{% endschema %}
