{%- if section.blocks.size > 0 -%}
    <section class="o-section u-pt0">
        {% include 'carousel', image_blocks: section.blocks -%}
    </section>
{%- endif -%}

{% schema %}
{
    "name": "Room carousel",
    "blocks": [
        {
            "name": "Photos",
            "type": "object",
            "limit": 8,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "description",
                    "label": "Description"
                }
            ]
        }
    ]
}
{% endschema %}
