{% include 'restaurant-page-header', image:section.settings.image, title:section.settings.title, address:section.settings.address, phone_number:section.settings.phone_number, email:section.settings.email, instagram_handle:section.settings.instagram_handle, book_a_table_url:section.settings.book_a_table_url %}

{% schema %}
{
    "name": "Restaurant header",
    "class": "c-page-header c-page-header--offset-2 t-tertiary",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "address",
            "label": "Address"
        },
        {
            "type": "text",
            "id": "email",
            "label": "Email"
        },
        {
            "type": "text",
            "id": "phone_number",
            "label": "Phone number"
        },
        {
            "type": "text",
            "id": "instagram_handle",
            "label": "Instagram handle"
        },
        {
            "type": "text",
            "id": "book_a_table_url",
            "label": "Book a table URL"
        }
    ]
}
{% endschema %}
