{% include 'restaurant-page-header', title:section.settings.title, text:section.settings.text %}

{%- if section.settings.parent_page_handle != blank -%}
    <div class="o-wrapper o-wrapper--huge c-back-button-container u-mb">
        {% include 'back-button', url:pages[section.settings.parent_page_handle].url, label:'Back to restaurant' %}
    </div>
{%- endif -%}

{% schema %}
{
    "name": "Room header",
    "class": "c-page-header c-page-header--offset-2 t-tertiary",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "page",
            "id": "parent_page_handle",
            "label": "Parent page"
        }
    ]
}
{% endschema %}
