<div class="o-wrapper c-animated-content u-in-viewport">
    <h1 class="u-heading u-heading--caps" data-order="1">{{ section.settings.title }}</h1>

    {%- if section.settings.text != blank -%}
        <p data-order="2">{{ section.settings.text }}</p>
    {%- endif -%}
</div>

{% schema %}
{
    "name": "Shop listing header",
    "class": "c-page-header t-tertiary",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Our <span>products</span>"
        },
        {
            "type": "text",
            "id": "text",
            "label": "Text"
        }
    ]
}
{% endschema %}
