{%- if section.settings.hero_product_handle != blank -%}
    {%- assign hero_product = all_products[section.settings.hero_product_handle] -%}
    {%- assign hero_product_image = hero_product.featured_image -%}
    {%- if section.settings.hero_product_image != blank -%}
        {%- assign hero_product_image = section.settings.hero_product_image -%}
    {%- endif -%}
    
    <div class="c-hero-content">
        <a href="{{ hero_product.url }}" class="c-hero-content__image-container c-animated-item u-in-viewport" data-animation="fade">
            <div class="c-hero-content__image u-image-hover" style="background-image: url('{{ hero_product_image | img_url: '600x' }}');"></div>
        </a>
        <div class="c-hero-content__content c-animated-content u-in-viewport">
            <a href="{{ hero_product.url }}">
                <h3 class="u-heading u-mb--" data-order="2">{{ hero_product.title }}</h3>

                {%- if hero_product.available -%}
                    <div class="u-color-secondary u-h5" data-order="3">
                        {% include 'product-price', price:hero_product.price %}
                    </div>
                {%- else -%}
                    <div class="u-color-grey u-h5" data-order="3">
                        <s class="u-display-inline-block">{% include 'product-price', price:hero_product.price %}</s> Sold out
                    </div>
                {%- endif -%}
            </a>

            {%- if section.settings.hero_product_quote != blank -%}
                <blockquote class="c-hero-content__quote u-mt" data-order="4">
                    <p>{{ section.settings.hero_product_quote }}</p>

                    {%- if section.settings.hero_product_quotee != blank -%}
                        <footer>{{ section.settings.hero_product_quotee }}</footer>
                    {%- endif -%}
                </blockquote>
            {%- endif -%}
        </div>
    </div>
{%- endif -%}

{% schema %}
{
    "name": "Shop hero product",
    "class": "o-section o-wrapper o-wrapper--offset-flush u-pb0",
    "settings": [
        {
            "type": "product",
            "id": "hero_product_handle",
            "label": "Hero product"
        },
        {
            "type": "image_picker",
            "id": "hero_product_image",
            "label": "Hero product image"
        },
        {
            "type": "textarea",
            "id": "hero_product_quote",
            "label": "Hero product quote"
        },
        {
            "type": "text",
            "id": "hero_product_quotee",
            "label": "Hero product quotee"
        }
    ]
}
{% endschema %}

