{%- if section.settings.embed_code != blank -%}
    <section class="o-section o-wrapper o-wrapper--large">
        {% include 'youtube-video', embed_code:section.settings.embed_code %}
    </section>
{%- endif -%}

{% schema %}
{
    "name": "YouTube video",
    "settings": [
        {
            "type": "textarea",
            "id": "embed_code",
            "label": "Embed code"
        }
    ]
}
{% endschema %}
