<div class="o-layout o-layout--large o-layout--matrix">
    {%- for block in section.blocks -%}
        {%- for collection_handle in block.settings.collection -%}<!--
        -->{%- if collections[collection_handle].products.size > 0 -%}<!--
            -->{%- assign collection_products = collections[collection_handle].products -%}<!--
            -->{%- for product in collection_products -%}{%- unless section.settings.include_hero_product_in_product_grid == false and product.handle == section.settings.hero_product_handle -%}<!--
                --><div class="o-layout__item u-4/12@mobile">
                    {% include 'product-card', product_data:product %}
                </div><!--
            -->{%- endunless -%}{%- endfor -%}<!--
        -->{%- endif -%}<!--
    -->{%- endfor -%}<!--
-->{%- endfor -%}
</div>

{% schema %}
{
    "name": "Shop products",
    "class": "o-section o-wrapper o-wrapper--large",
    "blocks": [
        {
            "name": "Collections",
            "type": "object",
            "settings": [
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "Collection"
                }
            ]
        }
    ]
}
{% endschema %}
