{% include 'flex-image-text-block', title:section.settings.title, text:section.settings.text, image:section.settings.image, image_size:section.settings.image_size, is_text_first:true %}

{% schema %}
{
    "name": "The Farm copy 2",
    "class": "o-section o-wrapper",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "select",
            "id": "image_size",
            "label": "Image size",
            "options": [
                {"value": "small", "label": "Small"},
                {"value": "medium", "label": "Medium"},
                {"value": "large", "label": "Large"}
            ],
            "default": "large"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "textarea",
            "id": "text",
            "label": "Text"
        }
    ]
}
{% endschema %}
