{% include 'carousel', image_blocks: section.blocks -%}

{% schema %}
{
    "name": "The Farm carousel",
    "class": "o-section",
    "blocks": [
        {
            "name": "Photos",
            "type": "object",
            "limit": 8,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "description",
                    "label": "Description"
                }
            ]
        }
    ]
}
{% endschema %}
