{%- if section.settings.title != blank -%}
    <h2 class="u-h3 u-heading u-heading--caps u-color-primary u-mb u-mb+@mobile u-ph@mobile u-text-align-center c-animated-item js-monitor">{{ section.settings.title }}</h2>
{%- endif -%}

<div class="o-layout u-stack-layout@mobile">
    {%- for block in section.blocks -%}<!--
    --><div class="o-layout__item u-{{ 12 | divided_by: section.blocks.size | ceil }}/12@mobile">
        {%- assign title = block.settings.title -%}
        {%- assign url = block.settings.url -%}
        {%- assign background_image = block.settings.background_image -%}
        {% include 'image-cta' -%}
    </div><!--
    -->{%- endfor -%}
</div>

{% schema %}
{
    "name": "The Farm featured pages",
    "class": "o-section o-wrapper",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        }
    ],
    "blocks": [
        {
            "name": "CTAs",
            "type": "object",
            "limit": 3,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "background_image",
                    "label": "Background image"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "URL"
                }
            ]
        }
    ]
}
{% endschema %}
