$color-white: #fff;
$color-black: #221f20;
$color-grey: #979797;
$color-grey-dark: darken(#979797, 5%);
$color-grey-light: #fafafa;
$color-tepapa: #204b4a;
$color-como: #487b5a;
$color-gin: #eaf1ec;
$color-juniper: #7a9392;
$color-laser: #cfaa76;
$color-outer-space: #2f3735;
$color-red: #c84031;

$color-primary: $color-tepapa;
$color-secondary: $color-laser;
$color-tertiary: $color-outer-space;

$color-dark: $color-tepapa;
$color-light: $color-laser;

$color-main-background: $color-white;

$themes: (
    primary: (
        accent: $color-laser,
        background: $color-tepapa,
        headings: $color-tepapa,
        links: $color-tepapa,
        buttonText: $color-white,
        text: $color-como
    ),
    secondary: (
        accent: $color-tepapa,
        background: $color-laser,
        headings: $color-tepapa,
        links: $color-como,
        buttonText: $color-white,
        text: $color-white
    ),
    tertiary: (
        accent: $color-como,
        background: $color-gin,
        headings: $color-tepapa,
        links: $color-como,
        buttonText: $color-tepapa,
        text: $color-como
    ),
    selectable: (
        accent: $color-tepapa,
        background: $color-como,
        headings: $color-white,
        links: $color-white,
        buttonText: $color-white,
        text: $color-white
    ),
    light: (
        accent: $color-laser,
        background: $color-white,
        headings: $color-tepapa,
        links: $color-tepapa,
        text: $color-como
    ),
    grey-light: (
        accent: $color-laser,
        background: $color-grey-light,
        headings: $color-tepapa,
        links: $color-tepapa,
        text: $color-como
    ),
    form: (
        accent: $color-gin,
        background: $color-white,
        headings: $color-tepapa,
        links: $color-tepapa,
        text: $color-como
    ),
    footer: (
        accent: $color-gin,
        background: $color-tepapa,
        headings: $color-juniper,
        links: $color-white,
        text: $color-white
    ),
    page: (
        accent: $color-laser,
        background: $color-white,
        headings: $color-tepapa,
        links: $color-tepapa,
        text: $color-como
    ),
    overlay-navigation: (
        accent: $color-juniper,
        background: $color-gin,
        headings: $color-tepapa,
        links: $color-tepapa,
        text: $color-como
    )
);
