{%- assign SHOW_SITE_FURNITURE = true -%}
{%- assign IS_CUSTOMER_PAGE = false -%}
{%- if template == 'password' -%}
    {%- assign SHOW_SITE_FURNITURE = false -%}
{%- endif -%}
{%- if template contains 'customers' -%}
    {%- assign IS_CUSTOMER_PAGE = true -%}
{%- endif -%}
<!DOCTYPE html>
<html lang="{{ shop.locale }}" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="{{ settings.color_primary }}">
        <meta name="google-site-verification" content="">
        <link rel="preload" href="{{ 'monotype-grotesque-regular.woff2' | asset_url }}"  as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="{{ 'itc-founders-caslon-regular.woff2' | asset_url }}"  as="font" type="font/woff2" crossorigin>
        <link rel="dns-prefetch preconnect" href="//cdn.shopify.com">
        <link rel="dns-prefetch preconnect" href="//v.shopify.com">
        <link rel="dns-prefetch preconnect" href="//consent.cookiebot.com">
        <link rel="dns-prefetch preconnect" href="//google-analytics.com">
        {%- if blog.previous_article != nil or blog.previous_article != nil -%}
            {%- if blog.previous_article != nil -%}
                <link rel="prefetch" href="{{ blog.previous_article }}">
            {%- endif -%}
            {%- if blog.next_article != nil -%}
                <link rel="prefetch" href="{{ blog.next_article }}">
            {%- endif -%}
        {%- endif -%}
        {%- capture seo_title -%}
            {{ page_title }}
            
            {%- if current_tags -%}
                {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
            {%- endif -%}
            {%- if current_page != 1 -%}
                &ndash; {{ 'general.meta.page' | t: page: current_page }}
            {%- endif -%}
            {%- unless page_title contains shop.name -%}
                &ndash; {{ shop.name }}
            {%- endunless -%}
        {%- endcapture -%}
        <title>{{ seo_title }}</title>
        {%- if page_description -%}
            <meta name="description" content="{{ page_description | escape }}">
        {%- endif -%}
        <style>@font-face{font-family:'Monotype Grotesque - Regular';src:url('{{ 'monotype-grotesque-regular.woff2' | asset_url }}') format('woff2'),url('{{ 'monotype-grotesque-regular.woff' | asset_url }}') format('woff');font-display:swap;font-weight:normal;font-style:normal;}@font-face{font-family:'Monotype Grotesque - Italic';src:url('{{ 'monotype-grotesque-italic.woff2' | asset_url }}') format('woff2'),url('{{ 'monotype-grotesque-italic.woff' | asset_url }}') format('woff');font-display:swap;font-weight:normal;font-style:normal;}@font-face{font-family:'ITC Founders Caslon - Regular';src:url('{{ 'itc-founders-caslon-regular.woff2' | asset_url }}') format('woff2'),url('{{ 'itc-founders-caslon-regular.woff' | asset_url }}') format('woff');font-display:swap;font-weight:normal;font-style:normal;}@font-face{font-family:'ITC Founders Caslon - Italic';src:url('{{ 'itc-founders-caslon-italic.woff2' | asset_url }}') format('woff2'),url('{{ 'itc-founders-caslon-italic.woff' | asset_url }}') format('woff');font-display:swap;font-weight:normal;font-style:normal;}</style>
        {% comment %}
        {{ 'critical.css' | asset_url | stylesheet_tag }}
        {% endcomment %}
        <style>{% include 'critical' %}</style>
        
        {{ 'main.css' | asset_url | stylesheet_tag }}
        {%- if template contains 'product' or template contains 'collection' -%}
            {{ 'product.css' | asset_url | stylesheet_tag }}
        {%- endif -%}
        {%- if IS_CUSTOMER_PAGE -%}
            {{ 'account.css' | asset_url | stylesheet_tag }}
        {%- endif -%}
        <link rel="icon" type="image/png" href="{{ 'favicon-16x16.png' | asset_url }}" sizes="16x16">
        <link rel="icon" type="image/png" href="{{ 'favicon-32x32.png' | asset_url }}" sizes="32x32">
        <link rel="canonical" href="{{ canonical_url }}">
        {% include 'social-meta-tags' %}
        <meta property="og:image" content="https:{{ 'social.jpg' | asset_img_url: '1200x' }}">
        <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default,es5,Array.prototype.includes,String.prototype.includes,Object.values,Object.assign,fetch,IntersectionObserver"></script>
        <script>window.globalComponents={};window.globalData={gaID:'{{ settings.google_analytics_id }}',rootURL:'{{ shop.url }}'};window.isModernBrowser=('querySelector' in document && 'localStorage' in window && 'addEventListener' in window);</script>
        {{ content_for_header }}
    </head>
    {% capture html %}
        <body id="{{ page_title | handle }}" class="s-{{ template.name | handle }} {% if content_for_header contains 'designMode' %}s-theme-editor{% endif %}">
           <div>
                {%- if SHOW_SITE_FURNITURE -%}
                    {% include 'header' %}
                {%- endif -%}

                <main role="main" id="main">
                    {{ content_for_layout }}
                </main>
            </div>
            {%- if SHOW_SITE_FURNITURE -%}
                {% section 'newsletter-signup' %}
                {% include 'footer' %}
                {% include 'overlay-navigation' %}
                {% include 'cart-preview-modal' %}
                {% include 'open-table-modal' %}
                <div class="s-restaurant-data">
                    {% section 'restaurant-list' %}
                </div>
            {%- endif -%}
            
            <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="{{ settings.cookiebot_id }}" type="text/javascript"></script>
            
            {%- if settings.show_multiple_currencies == true -%}
                {%- assign supported_currencies = settings.supported_currencies | split: ' ' -%}
                <script src="https://cdn.shopify.com/s/javascripts/currencies.js"></script>
                <script>
                window.globalData.currencies = {
                    default: '{{ settings.default_currency }}',
                    format: '{{ settings.currency_format }}',
                    roundPrice: {{ settings.price_rounding }},
                    supported: {{ supported_currencies | json }}
                };
                </script>
            {%- endif -%}
            <script src="{{ 'main.js' | asset_url }}"></script>
            <script src="{{ 'vendor.js' | asset_url }}"></script>
            {%- capture routed_js -%}
                {%- if template.suffix == 'restaurant' -%}restaurant{%- endif -%}
                {%- if template == 'product' -%}product{%- endif -%}
                {%- if template == 'customers/account' -%}account{%- endif -%}
            {%- endcapture -%}
            {%- if routed_js != blank -%}
                <script src="{{ routed_js | append: '.js' | asset_url }}"></script>
            {%- endif -%}
            <script>window.globalData.cart={{ cart | json }};</script>
        </body>
    {% endcapture %}
    {{ html | strip_newlines | replace: '            ', '' | replace: '        ', '' }}
</html>
